<div class="d-flex flex-row" ng-init="customersCtrl.Initialize()">
    <div class="content-screen">
        <div style="flex: 1">
            <div class="bar shown">
                <div class="bar-header">
                    <div class="bar-tab active"> {{ customersCtrl.SelectedCustomer.CustomerId === 0 ? 'ADD CUSTOMER' : 'UPDATE CUSTOMER' }} </div>
                </div>
                <div class="bar-body d-flex flex-column">
                    <div class="card">
                        <form novalidate name="customerForm">
                            <div class="form-group" ng-show="customersCtrl.SelectedCustomer.CustomerId !== 0">
                                <label for="customerId" class="input-label">Customer ID</label>
                                <input name="customerId" type="text" class="form-control" ng-model="customersCtrl.SelectedCustomer.CustomerId" disabled>
                            </div>
                            <div class="form-group">
                                <label for="customerCode" class="input-label">Customer Code</label>
                                <input name="customerCode" type="text" class="form-control form-control-sm" ng-model="customersCtrl.SelectedCustomer.CustomerCode" required id="customercode">
                                <span ng-if="customerForm.customerCode.$error.required && !customerForm.customerCode.$pristine" class="form-validation-msg">This field is required.</span>
                            </div>
                            <div class="form-group">
                                <label for="firstName" class="input-label">First Name</label>
                                <input name="firstName" type="text" class="form-control form-control-sm" ng-model="customersCtrl.SelectedCustomer.FirstName" required id="firstname">
                                <span ng-if="customerForm.firstName.$error.required && !customerForm.firstName.$pristine" class="form-validation-msg">This field is required.</span>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="input-label">Last Name</label>
                                <input name="lastName" type="text" class="form-control form-control-sm" 
                                ng-model="customersCtrl.SelectedCustomer.LastName" required id="lastname">
                                <span ng-if="customerForm.lastName.$error.required && !customerForm.lastName.$pristine" class="form-validation-msg">This field is required.</span>
                            </div>
                            <div class="form-group">
                                <label for="mobileNo" class="input-label">Mobile No.</label>
                                <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                                       name="mobileNo" 
                                       type="text"
                                       class="form-control form-control-sm" required id="mobileNo" 
                                       maxlength="11" 
                                ng-model="customersCtrl.SelectedCustomer.MobileNumber">
                                <span ng-if="customerForm.mobileNumber.$error.required && !customerForm.mobileNumber.$pristine" class="form-validation-msg">This field is required.</span>
                            </div>
                            <div class="form-group">
                                <label for="address" class="input-label">Address</label>
                                <textarea name="address" type="text" class="form-control form-control-sm" ng-model="customersCtrl.SelectedCustomer.FullAddress" required id="address"></textarea>
                                <span ng-if="customerForm.address.$error.required && !customerForm.address.$pristine" class="form-validation-msg">This field is required.</span>
                            </div>
                            <div class="form-group">
                                <label for="category" class="input-label">{{ inventoryCtrl.IsCategoryNew ? 'New Category Name' : 'Category' }}</label>
                                <select name="category" class="custom-select" ng-model="customersCtrl.SelectedCustomer.CustomerStatusId" ng-options="status.CustomerStatusId as status.CustomerStatusName for status in customersCtrl.CustomerStatusList" required>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="bar-footer">
                        <button class="btn btn-primary btn-sm" ng-if="customerForm.$valid" ng-click="customersCtrl.SaveCustomer();" id="btn-is-save">
                            <span>{{ customersCtrl.SelectedCustomer.CustomerId === 0 ? 'Save' : 'Update' }}</span>
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="customersCtrl.SelectedCustomer.CustomerId === 0" ng-click="customersCtrl.ResetFields(); customerForm.$setPristine();" id="btn-is-clear">
                        <span>Clear</span>
                    </button>
                        <button class="btn btn-sm btn-default" ng-if="customersCtrl.SelectedCustomer.CustomerId !== 0" ng-click="customersCtrl.ResetFields(); customerForm.$setPristine();" id="btn-is-cancel">
                        <span>Cancel</span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" style="flex: 3">
            <div class="content-header">
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text">
                          <svg viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                             </svg>
                        </span>
                    </div>
                    <input ng-model="customersCtrl.SearchCustomerInput" type="text" class="form-control inline" aria-label="searchCustomers" placeholder="Search Customers...">
                </div>
            </div>
            <div class="content-body">
                <loading showme="customersCtrl.CustomerListLoading" showerror="false" errormessage=""></loading>
                <div class="maintenance" ng-show="!customersCtrl.CustomerListLoading">
                    <table class="table table-separated">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th class="cell-no-wrap">Code</th>
                                <th class="cell-no-wrap">Name</th>
                                <th>Mobile No.</th>
                                <th>Address</th>
                                <th class="cell-center action-col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cl in customersCtrl.filteredCustomerList  | startFrom: ((customersCtrl.currentPage-1) *  customersCtrl.numPerPage) | limitTo : customersCtrl.numPerPage">
                                <td> {{ cl.CustomerId }} </td>
                                <td class="cell-no-wrap"> {{ cl.CustomerCode }} </td>
                                <td class="cell-no-wrap"> {{ cl.FullName }} </td>
                                <td> {{ cl.MobileNumber }} </td>
                                <td> {{ cl.FullAddress }} </td>
                                <td class="d-flex justify-content-center">
                                    <button class="btn btn-sm btn-primary" ng-click="customersCtrl.SelectCustomer(cl);" id="btn-us-row-select-{{ ul.UserId }}">
                                    Select
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content-footer">
                <pagination total-items="customersCtrl.filteredCustomerList.length" 
                ng-model="customersCtrl.currentPage" max-size="customersCtrl.maxSize" class="pagination" boundary-links="false" items-per-page="customersCtrl.numPerPage"></pagination>
            </div>
        </div>
    </div>
</div>