
<div>
    <div ng-controller="HomeController as homeCtrl">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <ul class="navbar-nav">
                <li class="nav-item brand-logo">
                    <span><i class="icon-circle"></i></span>
                </li>
                <li class="nav-item">
                    <span class="brand-name">COMPANY NAME</span>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="card">
                <div class="card-header-primary">
                    <h5>STOCK LIST</h5>
                </div>
                <div class="card-body">
                    <div ng-controller="WithOptionsCtrl as showCase">
                        <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="table table-striped hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CODE</th>
                                    <th>DESCRIPTION</th>
                                    <th>QUANTITY</th>
                                    <th>SOLD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pl in homeCtrl.ProductList">
                                    <td> {{ pl.Id }} </td>
                                    <td> {{ pl.Code }} </td>
                                    <td> {{ pl.Description }} </td>
                                    <td> {{ pl.CurrentStock }} </td>
                                    <td> {{ pl.Sold }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .navbar {
        background-color: #F1F1F1;
        color: #03B5AA;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    }

    .brand-logo {
        font-size: 32px;
        vertical-align: middle;
    }

    .brand-name {
        font-family: 'Roboto-Bold';
        font-size: 28px;
        vertical-align: middle;
        margin-left: 15px;
    }

    .navbar-nav {
        list-style-type: none;
    }

    th {
        font-family: 'Roboto-Light';
    }

    td {
        font-family: 'Roboto-Medium' 
    }

</style>