    <div class="main-container" ng-controller="LoginController as loginCtrl">
        <page-loading showme="$root.IsLoading"></page-loading>
        <div class="sidebar">
            <div>
                <nav class="navbar d-flex justify-content-end">
                    <span><img src="~/Content/assets/svg/home.svg" class="menu-img img-invert" /></span>
                </nav>
                <div class="sidebar-main">
                    <div class="user-info">
                        <span><i class="icon-person avatar-icon"></i></span>
                        <div class="user-info__labels">
                            <div class="user-info__name">
                                {{ $root.FullName }}
                            </div>
                            <span class="user-info__role">{{ $root.RoleName }}</span>
                        </div>
                    </div>
                    <div class="sidebar-main__nav">
                        <ul class="sidebar-main__nav-list">
                            @*<li class="sidebar-main__nav-item">
                            <span class="nav-item__img">    
                                <img src="~/Content/assets/svg/home.svg" class="img-invert" />
                            </span>
                            <span class="nav-item__label">Home</span>
                            </li>*@
                            <li class="sidebar-main__nav-item"
                                ng-class="{'active-item': $root.navItem == 'Inventory'} "
                                ng-click="loginCtrl.ChangeRoute('Inventory');">
                                <span class="nav-item__img">
                                    <img src="~/Content/assets/svg/payments.svg" class="img-invert" />
                                </span>
                                <span class="nav-item__label">Products</span>
                            </li>
                            <li class="sidebar-main__nav-item"
                                ng-class="{'active-item': $root.navItem == 'SalesOrder'} "
                                ng-click="loginCtrl.ChangeRoute('SalesOrder');">
                                <span class="nav-item__img">
                                    <img src="~/Content/assets/svg/local_shipping.svg" class="img-invert" />
                                </span>
                                <span class="nav-item__label">Sales Orders</span>
                            </li>
                            <li class="sidebar-main__nav-item"
                                ng-class="{'active-item': $root.navItem == 'Customers'} "
                                ng-click="loginCtrl.ChangeRoute('Customers');">
                                <span class="nav-item__img">
                                    <img src="~/Content/assets/svg/customers.svg" class="img-invert" />
                                </span>
                                <span class="nav-item__label">Customers</span>
                            </li>
                            <li class="sidebar-main__nav-item"
                                ng-class=" {'active-item': $root.navItem == 'Users'}"
                                ng-click="loginCtrl.ChangeRoute('Users');"
                                ng-if="$root.RoleName === 'Admin'">
                                <span class="nav-item__img">
                                    <img src="~/Content/assets/svg/users.svg" class="img-invert" />
                                </span>
                                <span class="nav-item__label">Users</span>
                            </li>
                            <li class="sidebar-main__nav-item"
                                ng-class=" {'active-item': $root.navItem == 'Reports'}"
                                ng-click="loginCtrl.ChangeRoute('Reports');"
                                ng-if="$root.RoleName === 'Admin'">
                                <span class="nav-item__img">
                                    <img src="~/Content/assets/svg/chart.svg" class="img-invert" />
                                </span>
                                <span class="nav-item__label">Reports</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="credits align-self-end">
                <div>
                    Icons made by <a href="https://www.flaticon.com/free-icon/user_181549" target="_blank" title="Chanut">Chanut</a> and
                    <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a>
                </div>
            </div>
        </div>
        <div class="flex-grow-1" style="height: inherit">
            <div>
                <nav class="d-flex justify-content-between navbar navbar-inverse navbar-fixed-top" ng-if="showNavbar">
                    <div>
                    </div>
                    <div>
                        <button class="btn btn-sm"
                                ng-click="loginCtrl.Logout();">
                            Logout
                        </button>
                    </div>
                </nav>
            </div>

            <div ng-view class="main-screen"></div>
        </div>
    </div>
<style>
    .navbar {
        background-color: #1C7462 !important;
        color: #03B5AA;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    }

    .brand-logo {
        font-size: 32px;
        vertical-align: middle;
    }

    .brand-name {
        font-family: 'Roboto-Bold';
        font-size: 28px;
        vertical-align: middle;
        margin-left: 15px;
    }

    .navbar-nav {
        list-style-type: none;
    }

    th.sorting,
    th.sorting_asc,
    th.sorting_desc {
        padding: 0.75rem;
        vertical-align: middle !important;
    }

</style>