<modal-window show="inventoryCtrl.ManageModalShown">
        <div class="modal-sm">
            <div class="modal-header bg-primary" style="border-bottom: none">
                <h5>Manage Stock</h5>
                <div class="modal-close">
                    <button class="btn btn-sm btn-light"
                            ng-click="inventoryCtrl.Initialize();
                                      inventoryCtrl.ToggleManageModal();">
                        Close
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-5 product-details">
                            <div class="d-flex justify-content-start">
                                <h5 class="align-self-center">PRODUCT DETAILS</h5>
                            </div>
                            <hr style="margin-top: 12px;" />
                            <span style="font-size: 0.8rem; font-weight: bold">PRODUCT CODE</span>
                            <div style="margin-bottom: 0.4rem" ng-if="!inventoryCtrl.EditDetailsShown">{{ inventoryCtrl.SelectedProduct.ProductCode }}</div>
                            <input type="text" ng-if="inventoryCtrl.EditDetailsShown" class="form-control" aria-describedby="emailHelp" placeholder="{{ inventoryCtrl.SelectedProduct.ProductCode }}"
                                   ng-model="inventoryCtrl.SelectedProductEdit.ProductCode"
                                   maxlength="32">

                            <span style="font-size: 0.8rem; font-weight: bold">PRODUCT DESCRIPTION</span>
                            <div style="margin-bottom: 0.4rem" ng-if="!inventoryCtrl.EditDetailsShown">{{ inventoryCtrl.SelectedProduct.ProductDescription }}</div>
                            <input type="text" ng-if="inventoryCtrl.EditDetailsShown" class="form-control" aria-describedby="emailHelp" placeholder="{{ inventoryCtrl.SelectedProduct.ProductDescription }}"
                                   ng-model="inventoryCtrl.SelectedProductEdit.ProductDescription"
                                   maxlength="32">

                            <span style="font-size: 0.8rem; font-weight: bold">UNIT PRICE</span>
                            <div style="margin-bottom: 0.4rem" ng-if="!inventoryCtrl.EditDetailsShown">{{ inventoryCtrl.SelectedProduct.UnitPrice }}</div>
                            <input type="number" ng-if="inventoryCtrl.EditDetailsShown" class="form-control" aria-describedby="emailHelp" placeholder="{{ inventoryCtrl.SelectedProduct.UnitPrice }}"
                                   ng-model="inventoryCtrl.SelectedProductEdit.UnitPrice"
                                   >

                            <span style="font-size: 0.8rem; font-weight: bold">CURRENT STOCK</span>
                            <div style="margin-bottom: 0.4rem">{{ inventoryCtrl.SelectedProduct.Quantity }}</div>
                            
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-transparent btn-sm align-self-center"
                                    ng-if="!inventoryCtrl.EditDetailsShown"
                                    ng-click="inventoryCtrl.ToggleEditDetails();">
                                <span>EDIT</span>
                            </button>
                            <button class="btn btn-sm btn-transparent btn-danger align-self-center"
                                    ng-if="inventoryCtrl.EditDetailsShown"
                                    ng-click="inventoryCtrl.ToggleEditDetails();">
                                <span>CANCEL</span>
                            </button>
                            <button class="btn btn-transparent btn-sm align-self-center"
                                    ng-if="inventoryCtrl.EditDetailsShown"
                                    ng-click="inventoryCtrl.UpdateProductDetails();">
                                <span>SAVE</span>
                            </button>
                        </div>
                            
                        </div>
                        <div class="col-md-7 sale-purchase">
                            <h5>ADD SALE/PURCHASE</h5>
                            <hr />
                            <form>
                                <span style="font-size: 0.8rem; font-weight: bold">TRANSACTION TYPE</span>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                                           ng-model="inventoryCtrl.OrderRequestTransactionType"
                                           ng-value="0">
                                    <label class="custom-control-label" for="customRadio2">Purchase</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                           ng-model="inventoryCtrl.OrderRequestTransactionType"
                                           ng-value="1">
                                    <label class="custom-control-label" for="customRadio1">Sale</label>
                                </div>
                                <br />
                                <span style="font-size: 0.8rem; font-weight: bold">QUANTITY</span>
                                <input type="number" class="form-control" id="quantity" aria-describedby="emailHelp" placeholder="Enter quantity..."
                                       ng-model="inventoryCtrl.OrderRequestQuantity">
                                <small class="form-text text-muted">This will affect your Current Stock.</small>
                            </form>
                            <div class="d-flex flex-row-reverse mt-5">
                                <button class="btn btn-sm btn-transparent"
                                        ng-if="!inventoryCtrl.EditDetailsShown"
                                        ng-click="inventoryCtrl.SaveOrderRequest();">
                                    SAVE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</modal-window>