<modal-window show="inventoryCtrl.ManageModalShown">
    <div class="modal-lg">
        <div class="modal-header bg-primary" style="border-bottom: none">
            <h5>MANAGE STOCK</h5>
            <div class="modal-close">
                <button class="btn btn-sm btn-light"
                        ng-click="inventoryCtrl.Initialize();
                                  inventoryCtrl.ToggleManageModal();">
                    Close
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="d-flex">
                <div class="d-flex flex-column">
                    <div class="card" style="border-top: 3px solid var(--bg-primary);">
                        <div class="card-body">
                            <span class="input-label">PRODUCT CODE:</span>
                            <br />
                            <div class="item-label">{{ inventoryCtrl.SelectedProduct.ProductCode }}</div>
                            <br />
                            <span class="input-label">PRODUCT DESCRIPTION:</span>
                            <br />
                            <div class="item-label"> {{ inventoryCtrl.SelectedProduct.ProductDescription }}</div>
                            <br />
                            <span class="input-label">UNIT PRICE:</span>
                            <br />
                            <div class="item-label">{{ inventoryCtrl.SelectedProduct.UnitPrice }}</div>
                            <br />
                            <span class="input-label">CURRENT STOCK:</span>
                            <br />
                            <div class="item-label">{{ inventoryCtrl.SelectedProduct.Quantity }}</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h5>ADD SALE/PURCHASE</h5>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <form>
                                <span class="input-label">TRANSACTION TYPE</span>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                                            ng-model="inventoryCtrl.OrderRequestTransactionType"
                                            ng-value="0">
                                    <label class="custom-control-label" for="customRadio2">Purchase</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                            ng-model="inventoryCtrl.OrderRequestTransactionType"
                                            ng-value="1">
                                    <label class="custom-control-label" for="customRadio1">Sale</label>
                                </div>
                                <br />
                                <span class="input-label" font-weight: bold">QUANTITY</span>
                                <input type="number" class="form-control" id="quantity" placeholder="Enter quantity..."
                                        ng-model="inventoryCtrl.OrderRequestQuantity">
                                <small class="form-text text-muted">This will affect your Current Stock.</small>
                            </form>
                            <div class="d-flex flex-row-reverse mt-5">
                                <button class="btn btn-sm btn-transparent"
                                        ng-click="inventoryCtrl.SaveOrderRequest();">
                                    SAVE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="max-width: 680px;">
                        <loading showme="inventoryCtrl.IsLoading" showerror="true" errormessage="inventoryCtrl.LoaderErrorMessage"></loading>
                        <div ng-show="!inventoryCtrl.IsLoading">
                            <table datatable="ng"
                                    dt-options="inventoryCtrl.dtProductHistoryOptions"
                                    class="table table-striped hover table-responsive">
                                <thead>
                                    <tr>
                                        <th class="cell-no-wrap">TRANSACTION DATE</th>
                                        <th class="cell-no-wrap">PURCHASE QTY</th>
                                        <th class="cell-no-wrap">SALES QTY</th>
                                        <th class="cell-no-wrap">CURRENT STOCK</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ph in inventoryCtrl.ProductHistory">
                                        <td class="cell-no-wrap"> {{ ph.TransactionDateTimeFormat }} </td>
                                        <td class="cell-no-wrap"> {{ ph.PurchaseQty }} </td>
                                        <td class="cell-no-wrap"> {{ ph.SalesQty }} </td>
                                        <td class="cell-no-wrap"> {{ ph.CurrentStocks }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal-window>