<div ng-include src="'angular-app/inventory/views/_manage-stocks-modal.html'"></div>
<div ng-include src="'angular-app/inventory/views/_add-stock-modal.html'"></div>

<div ng-init="inventoryCtrl.Initialize();">
    <div class="d-flex">
        <confirm-alert show="inventoryCtrl.ShowConfirmAlert" alert-msg="'Are you sure you want to delete this product?'" ok-function="inventoryCtrl.DeleteProduct(result)"
                       cancel-function="inventoryCtrl.ResetFields();"></confirm-alert>
        <div class="card" style="max-height: 490px;">
            <div class="card-header bg-primary">
                <h5>ADD/EDIT STOCKS</h5>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <div class="d-flex flex-column">
                    <form novalidate name="inventoryForm">
                        <div ng-show="inventoryCtrl.SelectedProduct.ProductId != 0">
                            <span class="input-label">PRODUCT ID</span>
                            <input type="text" class="form-control"
                                   ng-model="inventoryCtrl.SelectedProduct.ProductId"
                                   disabled
                                   id="is-product-id">
                            <br />
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="input-label required">PRODUCT CODE</span>
                            <span ng-if="inventoryForm.productCode.$error.required && !inventoryForm.productCode.$pristine" class="form-validation-msg">This field is required.</span>
                        </div>
                        <input name="productCode" type="text" class="form-control mb-4" required
                               ng-model="inventoryCtrl.SelectedProduct.ProductCode"
                               id="is-product-code">

                        <div class="d-flex justify-content-between">
                            <span class="input-label required">DESCRIPTION</span>
                            <span ng-if="inventoryForm.productDesc.$error.required && !inventoryForm.productDesc.$pristine" class="form-validation-msg">This field is required.</span>
                        </div>
                        <input name="productDesc" type="text" class="form-control mb-4" required
                               ng-model="inventoryCtrl.SelectedProduct.ProductDescription"
                               id="is-product-description">

                        <div class="d-flex justify-content-between">
                            <span class="input-label required">UNIT PRICE</span>
                            <span ng-if="inventoryForm.unitPrice.$error.required && !inventoryForm.unitPrice.$pristine" class="form-validation-msg">This field is required.</span>
                        </div>
                        <input name="unitPrice" type="number" class="form-control mb-4" required
                               ng-model="inventoryCtrl.SelectedProduct.UnitPrice"
                               id="is-unit-price">

                        <span class="input-label">INITIAL STOCK</span>
                        <input type="number" class="form-control mb-4"
                               ng-model="inventoryCtrl.SelectedProduct.Quantity"
                               ng-disabled="inventoryCtrl.SelectedProduct.ProductId != 0"
                               id="is-quantity">
                    </form>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-sm btn-transparent ml-2"
                            ng-if="inventoryCtrl.SelectedProduct.ProductId == 0 && inventoryForm.$valid"
                            ng-click="inventoryCtrl.SaveOrderRequest(true);"
                            id="btn-is-save">
                        SAVE
                    </button>
                    <button class="btn btn-sm btn-transparent ml-2"
                            ng-if="inventoryCtrl.SelectedProduct.ProductId != 0 && inventoryForm.$valid"
                            ng-click="inventoryCtrl.UpdateProductDetails();"
                            id="btn-is-update">
                        UPDATE
                    </button>
                    <button class="btn btn-sm btn-transparent btn-default"
                            ng-click="inventoryCtrl.ResetFields(); inventoryForm.$setPristine();"
                            id="btn-is-cancel">
                        <text ng-if="inventoryCtrl.SelectedProduct.ProductId == 0">CLEAR</text>
                        <text ng-if="inventoryCtrl.SelectedProduct.ProductId != 0">CANCEL</text>
                    </button>
                </div>
            </div>
        </div>
        <div class="card" style="max-width:910px">
            <div class="card-body">
                <loading showme="inventoryCtrl.IsLoading" showerror="true" errormessage="inventoryCtrl.LoaderErrorMessage"></loading>
                <div ng-show="!inventoryCtrl.IsLoading">
                    <table datatable="ng"
                           dt-options="inventoryCtrl.dtInventorySummaryOptions"
                           dt-column-defs="inventoryCtrl.dtInventorySummaryColumnDefs"
                           class="table table-striped table-responsive"
                           >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CODE</th>
                                <th>DESCRIPTION</th>
                                <th class="cell-wrap">INVENTORY STOCKS</th>
                                <th class="cell-wrap">CURRENT STOCKS</th>
                                <th>SOLD</th>
                                <th class="cell-center"><span>ACTION</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in inventoryCtrl.InventorySummary">
                                <td> {{ i.ProductID }} </td>
                                <td> {{ i.ProductCode }} </td>
                                <td> {{ i.ProductDescription }} </td>
                                <td> {{ i.InventoryStocks }} </td>
                                <td> {{ i.CurrentStocks }} 
                                    <div class="icon-critical-stock" ng-if="i.CurrentStocks <= inventoryCtrl.CriticalStock">
                                        <i class="icon-warning"></i>
                                        <span class="tooltip-text">Low on stocks.</span>
                                    </div>
                                </td>
                                <td> {{ i.Sold }} </td>
                                <td>
                                    <div class="d-flex flex-row">
                                        <button class="btn btn-sm btn-primary"
                                                ng-click="inventoryCtrl.GetProductDetails(i.ProductID, true);"
                                                id="btn-is-row-manage-{{i.ProductID}}">
                                            Manage
                                        </button>
                                        <button class="btn btn-sm btn-default ml-1"
                                                ng-click="inventoryCtrl.GetProductDetailsBasic(i.ProductID);"
                                                id="btn-is-row-edit-{{i.ProductID}}">
                                            Edit
                                        </button>
                                        <button class="btn btn-sm btn-danger ml-1"
                                                ng-click="inventoryCtrl.GetProductDetailsBasic(i.ProductID); 
                                                          inventoryCtrl.ShowConfirmAlert = true;"
                                                id="btn-is-row-delete-{{i.ProductID}}">
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>