<!DOCTYPE html>
<html ng-app="InventoryApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $root.title }}</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/angular-app/home/home-controller.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <div>
        @RenderBody()
    </div>
</body>
</html>
