<!DOCTYPE html>
<html ng-app="InventoryApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $root.title }}</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/angular-datatables.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/angular-app/inventory/controllers/inventory-controller.js"></script>
    <script src="~/angular-app/inventory/services/inventory-service.js"></script>
    <script src="~/angular-app/home/controllers/home-controller.js"></script>
    <script src="~/angular-app/login/controllers/login-controller.js"></script>
    <script src="~/angular-app/login/services/login-service.js"></script>
    <script src="~/angular-app/user/controllers/user-controller.js"></script>
    <script src="~/angular-app/user/services/user-service.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <div>
        @RenderBody()
    </div>
</body>
</html>
