<!DOCTYPE html>
<html ng-app="InventoryApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $root.title }}</title>
    <link rel="icon" type="image/x-icon" href="../../inventory-aaa.png">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/angular-datatables.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Scripts/main.js?id=1"></script>


    <script src="~/angular-app/inventory/controllers/inventory-controller.js"></script>
    <script src="~/angular-app/customer/controllers/customers-controller.js"></script>
    <script src="~/angular-app/home/controllers/home-controller.js"></script>
    <script src="~/angular-app/login/controllers/login-controller.js"></script>
    <script src="~/angular-app/user/controllers/user-controller.js"></script>
    <script src="~/angular-app/report/controllers/report-controller.js"></script>
    <script src="~/angular-app/sales/controllers/sales-order-controller.js"></script>
    <script src="~/angular-app/sales/controllers/order-details-controller.js"></script>
    
    <script src="~/angular-app/inventory/services/inventory-service.js"></script>
    <script src="~/angular-app/report/services/report-service.js"></script>
    <script src="~/angular-app/user/services/user-service.js"></script>
    <script src="~/angular-app/login/services/login-service.js"></script>
    <script src="~/angular-app/customer/services/customers-service.js"></script>
    <script src="~/angular-app/shared/services/maintenance-service.js"></script>
    <script src="~/angular-app/shared/services/common-service.js"></script>
    <script src="~/angular-app/sales/services/sales-order-service.js"></script>

    <script src="~/angular-app/shared/factories/quick-alert.js"></script>


    <link rel="stylesheet" href="~/Content/bootstrap.css">

    @*<script src="~/angular-app/authentication/services/authentication-service.js"></script>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <div>
        @RenderBody()
    </div>
</body>
</html>
