<div class="content" ng-init="orderDetailsCtrl.Initialize();">
    <confirm-alert show="orderDetailsCtrl.ShowConfirmAlert" alert-msg="orderDetailsCtrl.AlertMessage" ok-function="orderDetailsCtrl.CancelOrder(result)" cancel-function="orderDetailsCtrl.CancelAction();"></confirm-alert>
    <div class="content-header customer-details" ng-if="!orderDetailsCtrl.ReceiptShown">
        <div>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle ml-3 " 
                        ng-class="{ 'btn-outlined' : orderDetailsCtrl.SelectedCustomerLabel === '', 
                                    'btn-transparent-white' : orderDetailsCtrl.SelectedCustomerLabel !== '',
                                    'dropdown-toggle' : orderDetailsCtrl.SalesOrderStatusId === 0 || orderDetailsCtrl.SalesOrderStatusId === 1
                                }" data-toggle="dropdown" 
                        ng-click="orderDetailsCtrl.CustomerListShown = !orderDetailsCtrl.CustomerListShown;"
                        ng-disabled="orderDetailsCtrl.SalesOrderStatusId !== 0 && orderDetailsCtrl.SalesOrderStatusId !== 1">
                    {{ orderDetailsCtrl.SelectedCustomerLabel !== '' ? orderDetailsCtrl.SelectedCustomerLabel : 'Select a Customer'}}
                </button>
                <div class="dropdown-customers dropdown-menu dropdown-menu-left" ng-class="{ 'show' : orderDetailsCtrl.CustomerListShown }">
                    <div class="dropdown-header">
                        <input type="text" class="form-control search" ng-model="orderDetailsCtrl.SearchCustomerInput" placeholder="Search for customers...">
                        <button class="btn btn-primary-inverse btn-sm ml-2" ng-click="orderDetailsCtrl.NewCustomer();orderDetailsCtrl.NewCustomerToggled = true">New</button>
                        <button class="btn btn-danger btn-sm" ng-click="orderDetailsCtrl.CustomerListShown = false">Close</button>
                    </div>
                    <ul>
                        <li ng-repeat="cl in orderDetailsCtrl.CustomerList | filter : orderDetailsCtrl.SearchCustomerInput" ng-click="orderDetailsCtrl.SelectCustomer(cl);" class="dropdown-item">{{ cl.CustomerCode + ' - ' + cl.FullName }}</li>
                    </ul>
                </div>
            </div>
            <div class="address" ng-if="orderDetailsCtrl.SelectedCustomerLabel !== ''">
                <span>{{ orderDetailsCtrl.SelectedCustomerDetail }}</span>
                <span>{{ orderDetailsCtrl.SelectedCustomer.FullAddress }}</span>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <form>
                <div class="d-flex align-items-center justify-content-between ml-auto">
                    <div class="form-group mr-3 ml-auto">
                        <span for="mop" class="form-label">Mode of Payment</span>
                        <input name="mop" type="text" class="form-control form-control-sm" ng-model="orderDetailsCtrl.ModeOfPayment">
                    </div>
                    <div class="form-group mr-3">
                        <span for="shippingFee" class="form-label">Shipping Fee</span>
                        <input name="shippingFee" type="number" class="form-control form-control-sm" ng-model="orderDetailsCtrl.ShippingFee" ng-disabled="orderDetailsCtrl.SalesOrderStatusId === 2 || orderDetailsCtrl.SalesOrderStatusId === 3 || orderDetailsCtrl.SalesOrderStatusId === 4">
                    </div>
                </div>
            </form>
            <div class="btn-group">
                <button ng-click="orderDetailsCtrl.PriceTypesShown = !orderDetailsCtrl.PriceTypesShown;" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ orderDetailsCtrl.SelectedPriceType !== '' ? orderDetailsCtrl.SelectedPriceType : 'Price Type'}}
                    </button>
                <div class="dropdown-menu dropdown-menu-right" ng-class="{ 'show' : orderDetailsCtrl.PriceTypesShown }">
                    <button class="dropdown-item" type="button" ng-repeat="pt in orderDetailsCtrl.PriceTypes" ng-click="orderDetailsCtrl.SelectPriceType(pt)">{{ pt }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body orders-grid" ng-class="{ 'new-order' : orderDetailsCtrl.SalesOrderId === 0 || orderDetailsCtrl.SalesOrderStatusId === 1 }" ng-if="!orderDetailsCtrl.ReceiptShown">
        <div class="grid-item"  ng-if="orderDetailsCtrl.SalesOrderId === 0 || orderDetailsCtrl.SalesOrderStatusId === 1">
            <div class="product-list">
                <div class="grid-header">
                    <input type="text" class="form-control search" ng-model="orderDetailsCtrl.SearchProductList" placeholder="Search for products...">
                    <div class="d-flex">
                        <select name="category" class="custom-select" ng-model="orderDetailsCtrl.FilterCategoryId" ng-options="category.CategoryId as category.CategoryName for category in orderDetailsCtrl.CategoryList">
                        </select>
                    </div>
                </div>
                <div>
                    <loading showme="orderDetailsCtrl.ProductListLoading" showerror="false" errormessage=""></loading>
                    <div ng-show="!orderDetailsCtrl.ProductListLoading">
                        <table class="table mb-4">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Stock</th>
                                    <th class="cell-center">Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="i in orderDetailsCtrl.ProductList | filter: { ProductCode: orderDetailsCtrl.SearchProductList, CategoryId: orderDetailsCtrl.FilterCategoryId }">
                                    <td> {{ i.ProductCode }} </td>
                                    <td> {{ i.ProductDescription }} </td>
                                    <td> {{ i.CategoryName }} </td>
                                    <td> {{ i.CurrentStocks }}</td>
                                    <td>
                                        <div class="price-list">
                                            <span class="price-type" ng-if="orderDetailsCtrl.SelectedPriceType === '' || orderDetailsCtrl.SelectedPriceType === 'Big Buyer'">
                                                <span class="type">Big Buyer</span>
                                            <span class="price">{{ i.BigBuyerPrice | currency:"" }}</span>
                                            </span>
                                            <span class="price-type" ng-if="orderDetailsCtrl.SelectedPriceType === '' || orderDetailsCtrl.SelectedPriceType === 'Reseller'">
                                                <span class="type">Reseller</span>
                                            <span class="price">{{ i.ResellerPrice | currency:"" }}</span>
                                            </span>
                                            <span class="price-type" ng-if="orderDetailsCtrl.SelectedPriceType === '' || orderDetailsCtrl.SelectedPriceType === 'Retailer'">
                                                <span class="type">Retailer</span>
                                            <span class="price">{{ i.RetailerPrice | currency:"" }}</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="cell-center">
                                        <button ng-if="orderDetailsCtrl.SalesOrderStatusId === 1 || orderDetailsCtrl.SalesOrderStatusId === 0" class="btn btn-xs btn-primary" ng-click="orderDetailsCtrl.AddProductToOrder(i)">+</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="products-in-order">
                <div class="grid-header">
                    <input type="text" class="form-control search" ng-model="orderDetailsCtrl.SearchProductsInOrder" placeholder="Search for products in order...">
                    <strong class="fab-status" ng-class="orderDetailsCtrl.GetStatusClass()">
                        {{ orderDetailsCtrl.SalesDetails.SalesOrderStatusName ? orderDetailsCtrl.SalesDetails.SalesOrderStatusName : 'Unsaved'  }}
                    </strong>
                </div>
                <div>
                    <loading showme="orderDetailsCtrl.OrderDetailsLoading" showerror="false" errormessage=""></loading>
                    <div ng-show="!orderDetailsCtrl.OrderDetailsLoading">
                        <div class="empty-table" ng-if="orderDetailsCtrl.ProductsInOrder.length === 0">
                            <span>Add products from the product list.</span>
                        </div>
                        <div ng-if="orderDetailsCtrl.ProductsInOrder.length > 0">
                            <table class="table mb-4">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>Stock</th>
                                        <th class="cell-center">Quantity</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="i in orderDetailsCtrl.ProductsInOrder | filter: orderDetailsCtrl.SearchProductsInOrder">
                                        <td> {{ i.ProductCode }} </td>
                                        <td> {{ i.ProductDescription }} </td>
                                        <td> Test Category </td>
                                        <td> {{ i.CurrentStocks }}</td>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div ng-if="i.Quantity">
                                                    {{ i.Quantity }}
                                                </div>
                                                <div ng-if="!i.Quantity">
                                                    <form novalidate name="{{ 'quantityForm-' + $index }}">
                                                        <input name="{{ 'quantity-' + $index }}" type="text" class="form-control" required ng-model="i.UnfinishedQuantity">

                                                    </form>
                                                </div>
                                                <button class="btn btn-primary-inverse btn-sm ml-3" ng-if="orderDetailsCtrl.SalesOrderStatusId === 0 || orderDetailsCtrl.SalesOrderStatusId === 1" ng-click="orderDetailsCtrl.SetQuantity(i);">{{ i.Quantity ? 'Change' : 'Set' }}</button>
                                            </div>
                                        </td>
                                        <td> {{ i.UnitPrice | currency: "" }} </td>
                                        <td class="cell-center">
                                            <button ng-if="orderDetailsCtrl.SalesOrderStatusId === 1 || orderDetailsCtrl.SalesOrderStatusId === 0" ng-click="orderDetailsCtrl.RemoveProductFromOrder(i)" class="btn btn-xs btn-danger">-</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-footer">
                <div>
                    <button class="btn btn-sm btn-primary-inverse" ng-click="loginCtrl.ChangeRoute('SalesOrder')">
                        Back 
                    </button>
                </div>
                <div class="d-flex ml-auto">
                    <button class="btn btn-sm btn-danger" ng-if="orderDetailsCtrl.SalesOrderStatusId !== 4 && orderDetailsCtrl.SalesOrderStatusId !== 5 && orderDetailsCtrl.SalesOrderStatusId !== 0" ng-click="orderDetailsCtrl.AlertMessage = 'Are you sure you want to cancel this order?'; orderDetailsCtrl.ShowConfirmAlert = true;">
                        Cancel Order
                    </button>
                    <button type="button" class="btn btn-sm btn-primary-inverse" ng-click="orderDetailsCtrl.GetOrderReceipt();" ng-if="orderDetailsCtrl.SalesOrderStatusId !== 0 && orderDetailsCtrl.SalesOrderStatusId !== 1 &&  orderDetailsCtrl.SalesOrderStatusId !== 5">
                        {{ orderDetailsCtrl.SalesOrderStatusId === 3 ? 'Finalize Order' : 'View Receipt' }}
                    </button>
                    <button class="btn btn-sm btn-primary" ng-if="orderDetailsCtrl.SalesOrderStatusId !== 3 && orderDetailsCtrl.SalesOrderStatusId !== 4 && orderDetailsCtrl.SalesOrderStatusId !== 5" ng-click="orderDetailsCtrl.SubmitOrder()" ng-disabled="orderDetailsCtrl.ProductsInOrder.length === 0">
                        <span ng-if="orderDetailsCtrl.SalesOrderStatusId === 0">Place Order</span>
                        <span ng-if="orderDetailsCtrl.SalesOrderStatusId === 1">Order Paid</span>
                        <span ng-if="orderDetailsCtrl.SalesOrderStatusId === 2">Order Shipped</span>
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="receipt" ng-if="orderDetailsCtrl.ReceiptShown">
        <div class="receipt-body">
            <div class="receipt-section">
                ORDER DETAILS
            </div>
            <div class="sales-details">

                <div>
                    <strong class="label">Sales No.:</strong>
                    <span>{{ orderDetailsCtrl.ReceiptDetails[0].SalesNo }}</span>
                </div>
                <div>
                    <strong class="label">MOP:</strong>
                    <span>{{ orderDetailsCtrl.ReceiptDetails[0].ModeOfPayment === '' ? 'N/A' : orderDetailsCtrl.ReceiptDetails[0].ModeOfPayment }}</span>
                </div>
                <div class="d-flex">
                    <strong class="label">Customer:</strong>
                    <span>{{ orderDetailsCtrl.ReceiptDetails[0].CustomerFullDetails }}</span>
                </div>
                <div>
                    <strong class="label">Mobile No::</strong>
                    <span>{{ '0999999999' }}</span>
                </div>
            </div>
            <div>
                <strong class="label">Address:</strong>
                <span>{{ orderDetailsCtrl.ReceiptDetails[0].FullAddress }}</span>
            </div>
            <div class="receipt-section">
                PRODUCT LIST
            </div>
            <div class="header">
                <strong>Product</strong>
                <strong class="center">Quantity</strong>
                <strong class="center">Price</strong>
                <strong class="price">Subtotal</strong>
            </div>
            <div class="product-container">
                <div class="product-list" ng-repeat="product in orderDetailsCtrl.ReceiptDetails">
                    <strong>{{ product.ProductCode + ' - ' + product.ProductDescription }}</strong>
                    <span class="center">{{ product.Quantity }}</span>
                    <span class="center">{{ product.UnitPrice | currency: ""}}</span>
                    <span class="price">{{ product.Subtotal | currency: ""}}</span>
                </div>
            </div>

            <div class="shipping-fee">
                <strong>Shipping Fee</strong>
                <span></span>
                <span></span>
                <span class="price">{{ orderDetailsCtrl.ReceiptDetails[0].ShippingFee | currency: ""}}</span>
            </div>

            <div class="total">
                <strong>Total</strong>
                <strong class="center">{{ orderDetailsCtrl.ReceiptDetails[0].TotalQuantity }}</strong>
                <span></span>
                <strong class="price">{{ orderDetailsCtrl.ReceiptDetails[0].TotalAmount | currency: ""}}</strong>
            </div>
        </div>
        <div class="receipt-footer">
            <button class="btn btn-sm btn-primary-inverse" ng-click="orderDetailsCtrl.ReceiptShown = false">Back</button>
            <button class="btn btn-sm btn-primary" ng-click="orderDetailsCtrl.SubmitOrder();" ng-if="orderDetailsCtrl.SalesOrderStatusId === 3">Checkout</button>
        </div>
    </div>

    <div class="modal-overlay" ng-if="orderDetailsCtrl.NewCustomerToggled">
        <div class="modal-container modal-sm">
            <div class="modal-header">
                <h5>Add New Customer</h5>
                <button type="button" class="btn btn-danger btn-sm" ng-click="orderDetailsCtrl.NewCustomerToggled = false">
                    Close
                </button>
            </div>
            <div class="modal-body">
                <form novalidate name="customerForm">
                    <div class="form-group">
                        <label for="customerCode" class="input-label">Customer Code</label>
                        <input name="customerCode" type="text" class="form-control form-control-sm" ng-model="orderDetailsCtrl.SelectedCustomer.CustomerCode" required id="customercode">
                        <span ng-if="customerForm.customerCode.$error.required && !customerForm.customerCode.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="input-label">First Name</label>
                        <input name="firstName" type="text" class="form-control form-control-sm" ng-model="orderDetailsCtrl.SelectedCustomer.FirstName" required id="firstname">
                        <span ng-if="customerForm.firstName.$error.required && !customerForm.firstName.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="input-label">Last Name</label>
                        <input name="lastName" type="text" class="form-control form-control-sm" ng-model="orderDetailsCtrl.SelectedCustomer.LastName" required id="lastname">
                        <span ng-if="customerForm.lastName.$error.required && !customerForm.lastName.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <label for="mobileNo" class="input-label">Mobile No.</label>
                        <input name="mobileNo" type="number" class="form-control form-control-sm" required id="mobileNo">
                        <span ng-if="customerForm.mobileNo.$error.required && !customerForm.mobileNo.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <label for="address" class="input-label">Address</label>
                        <textarea name="address" type="text" class="form-control form-control-sm" ng-model="orderDetailsCtrl.SelectedCustomer.FullAddress" required id="address"></textarea>
                        <span ng-if="customerForm.address.$error.required && !customerForm.address.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <label for="category" class="input-label">Category</label>
                        <select name="category" class="custom-select" ng-model="orderDetailsCtrl.SelectedCustomer.CustomerStatusId" ng-options="status.CustomerStatusId as status.CustomerStatusName for status in orderDetailsCtrl.CustomerStatusList" required>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-disabled="!customerForm.$valid" ng-click="orderDetailsCtrl.SaveCustomer();">Save and Use</button>
            </div>
        </div>
    </div>