<div class="content" ng-init="salesOrderCtrl.Initialize();">
    <div class="content-header">
        <div class="input-group search-sales">
            <div class="input-group-append">
                <span class="input-group-text">
                  <svg viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                     </svg>
                </span>
            </div>
            <input ng-model="salesOrderCtrl.SearchSalesOrdersInput" type="text" class="form-control inline" aria-label="searchProduct" placeholder="Search Orders...">
        </div>

        <div class="btn-group sales-mode">
            <button ng-click="salesOrderCtrl.TableMode = 'Undelivered'" class="btn btn-sm" ng-class="{ 'btn-selected' : salesOrderCtrl.TableMode === 'Undelivered', 'btn-unselected' : salesOrderCtrl.TableMode === 'Delivered' }">Undelivered</button>
            <button ng-click="salesOrderCtrl.TableMode = 'Delivered'" class="btn btn-sm" ng-class="{ 'btn-selected' : salesOrderCtrl.TableMode === 'Delivered', 'btn-unselected' : salesOrderCtrl.TableMode === 'Undelivered' }">Delivered</button>
        </div>

        <button class="btn btn-sm btn-primary" ng-click="salesOrderCtrl.ManageSalesOrder(0)">
            <div class="d-flex">
                <span>New Order</span>
                <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-file-earmark-plus-fill " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                    <path fill-rule="evenodd " d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V11a.5.5
                                    0 0 0 1 0V9.5H10a.5.5 0 0 0 0-1H8.5V7z "/>
                </svg>
            </div>
        </button>
    </div>
    <div class="content-body">
        <loading showme="salesOrderCtrl.SalesOrdersLoading" showerror="false" errormessage=""></loading>
        <div class="maintenance" ng-show="!salesOrderCtrl.SalesOrdersLoading">
            <table class="table table-separated">
                <thead>
                    <tr>
                        <th>Sales No</th>
                        <th>Customer Code</th>
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th>Total Quantity</th>
                        <th>Total Amount</th>
                        <th>Payment Details</th>
                        <th>Created Time</th>
                        <th>Modified Time</th>
                        <th class="cell-center">Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="so in salesOrderCtrl.FilteredSalesOrders">
                        <td> {{ so.SalesNo }} </td>
                        <td> {{ so.CustomerCode }} </td>
                        <td> {{ so.CustomerFullName }} </td>
                        <td> {{ so.CustomerFullAddress }} </td>
                        <td> {{ so.TotalQuantity }} </td>
                        <td> {{ so.TotalAmount | currency:"" }} </td>
                        <td>
                            <div class="price-list">
                                <span class="price-type">
                                    <span class="type">MOP: </span>
                                <span class="price">{{ so.ModeOfPayment ? so.ModeOfPayment : 'N/A' }}</span>
                                </span>
                                <span class="price-type">
                                    <span class="type">Shipping Fee: </span>
                                <span class="price">{{ so.ShippingFee? so.ShippingFee : 'N/A' }}</span>
                                </span>

                            </div>
                        </td>
                        <td> {{ so.CreatedDateTimeFormat }} </td>
                        <td> {{ so.ModifiedDateTimeFormat !== '' ? so.ModifedDateTimeFormat : 'N/A' }} </td>
                        <td class="cell-center">
                            <span class="fab-status" ng-class="salesOrderCtrl.GetStatusClass(so.SalesOrderStatusId)">{{ so.SalesOrderStatusName }} </span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary" ng-click="salesOrderCtrl.ManageSalesOrder(so.SalesOrderId)">Manage</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-footer">
        <pagination total-items="userCtrl.UserList.length" ng-change="userCtrl.FilterUsers()" ng-model="userCtrl.currentPage" max-size="userCtrl.maxSize" class="pagination" boundary-links="false" items-per-page="userCtrl.numPerPage"></pagination>
    </div>
</div>