<div class="container-full bg-primary d-flex justify-content-center">
    <div class="align-self-center">
        <div class="card">
            <div class="card-body unauthorized-body">
                <div>
                    <span>
                        <i class="icon-warning unauthorized-icon"></i>
                    </span>
                </div>
                <div>
                    <h1>You are <br /> <strong style="color: var(--bg-danger)">Unauthorized</strong> <br /> to access this page.</h1>

                </div>
                <br />
                <br />
                <button class="btn btn-block btn-primary mb-2"
                        ng-click="loginCtrl.Logout();"
                        ng-keydown="$event.keyCode === 13 && loginCtrl.Logout();">
                    RETURN TO LOGIN
                </button>
            </div>
        </div>
    </div>
</div>

