.report-screen {
    margin: 10vh 60vh !important;
    .card-body {
        padding: 2rem !important;
    }
}

@media (max-width: 1024px) {
    .report-screen {
        margin: 10vh 20vh !important;
        .card-body {
            font-size: 1rem !important;
        }
    }
}