<div class="d-flex flex-row" ng-init="userCtrl.Initialize();">
    <confirm-alert show="userCtrl.ShowConfirmAlert" alert-msg="'Are you sure you want to delete this user?'" ok-function="userCtrl.DeleteUser(result)"
                   cancel-function="userCtrl.ClearUserDetails();"></confirm-alert>
    <div class="card user-details-section">
        <div class="card-header bg-primary">
            <div>
                <h5>ADD/EDIT USER</h5>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="flex-grow-1">
                <form novalidate name="userForm">
                    <div ng-show="userCtrl.SelectedUser.UserId != 0">
                        <span class="input-label">USER ID</span>
                        <input type="text" class="form-control mb-3"
                               ng-model="userCtrl.SelectedUser.UserId"
                               disabled>
                    </div>

                    <div class="d-flex justify-content-between">
                        <span class="input-label required">FIRST NAME</span>
                        <span ng-if="userForm.firstName.$error.required && !userForm.firstName.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <input type="text" name="firstName" class="form-control form-control-sm mb-3"
                           ng-model="userCtrl.SelectedUser.FirstName" required>

                    <div class="d-flex justify-content-between">
                        <span class="input-label required">LAST NAME</span>
                        <span ng-if="userForm.lastName.$error.required && !userForm.lastName.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <input type="text" name="lastName" class="form-control form-control-sm mb-3"
                           ng-model="userCtrl.SelectedUser.LastName" required>

                    <div class="d-flex justify-content-between">
                        <span class="input-label required">USERNAME</span>
                        <span ng-if="userForm.userName.$error.required && !userForm.userName.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <input type="text" name="userName" class="form-control form-control-sm mb-3"
                           ng-model="userCtrl.SelectedUser.UserName" required>

                    <div class="d-flex justify-content-between">
                        <span class="input-label required">PASSWORD</span>
                        <span ng-if="userForm.password.$error.required && !userForm.password.$pristine" class="form-validation-msg">This field is required.</span>
                    </div>
                    <input type="text" name="password" class="form-control form-control-sm mb-3"
                           ng-model="userCtrl.SelectedUser.Password" required>

                    <span class="input-label">ROLE</span>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                               ng-model="userCtrl.SelectedUser.UserRoleId"
                               ng-value="1">
                        <label class="custom-control-label" for="customRadio2">Admin</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                               ng-model="userCtrl.SelectedUser.UserRoleId"
                               ng-value="2">
                        <label class="custom-control-label" for="customRadio1">Secretary</label>
                    </div>

                </form>
            </div>

            <div class="d-flex justify-content-end align-self-auto">
                <button class="btn btn-sm btn-transparent btn-default"
                        ng-click="userCtrl.ClearUserDetails(); userForm.$setPristine();">
                    <span ng-if="userCtrl.SelectedUser.UserId === 0">CLEAR</span>
                    <span ng-if="userCtrl.SelectedUser.UserId !== 0">CANCEL</span>
                </button>
                <button class="ml-2 btn btn-sm btn-transparent"
                        ng-if="userForm.$valid"
                        ng-click="userCtrl.SaveUser();">
                    <span ng-if="userCtrl.SelectedUser.UserId === 0">SAVE</span>
                    <span ng-if="userCtrl.SelectedUser.UserId !== 0">UPDATE</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card" style="max-width: 800px;">
        <div class="card-body">
            <loading showme="userCtrl.UserListLoading" showerror="false" errormessage=""></loading>
            <div ng-show="!userCtrl.UserListLoading">
                <table datatable="ng"
                       dt-options="userCtrl.dtUserListOptions"
                       dt-column-defs="userCtrl.dtUserListColumnDefs"
                       class="table table-striped hover table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th class="cell-no-wrap">NAME</th>
                            <th class="cell-no-wrap">USERNAME</th>
                            <th>PASSWORD</th>
                            <th>ROLE</th>
                            <th class="cell-center">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ul in userCtrl.UserList">
                            <td> {{ ul.UserId }} </td>
                            <td class="cell-no-wrap"> {{ ul.FullName }} </td>
                            <td class="cell-no-wrap"> {{ ul.UserName }} </td>
                            <td> {{ ul.Password }} </td>
                            <td> {{ ul.UserRoleDetails.UserRoleName }} </td>
                            <td  class="cell-no-wrap">
                                <button class="btn btn-sm btn-primary"
                                        ng-click="userCtrl.SelectUser(ul);">
                                    Select
                                </button>
                                <button class="btn btn-sm btn-danger ml-1"
                                        ng-click="userCtrl.SelectUser(ul);
                                                  userCtrl.ShowConfirmAlert = true;">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>