
    <div class="parent-page container-full bg-primary d-flex justify-content-center">
        <div class="align-self-center">
            <div class="card login-card">
                <div class="card-body p-0">
                    <div class="d-flex flex-row">
                        <div class="pt-4 pb-4">
                            <div class="pl-5 pt-4 pb-4 mr-4 border-right login-banner-section">
                                <div class="logo-container">
                                    <span><i class="icon-circl login-logo"></i></span>
                                    <div class="login-banner">INVENTORY <br /> SYSTEM</div>
                                </div>
                            </div>
                        </div>
                        <div class="login-input-section mr-md-5 mr-4 mt-4 mb-4">
                            <h4 class="mb-4 ml-0">LOGIN</h4>
                            <span class="input-label">USERNAME</span>
                            <input type="text" class="form-control mb-3" ng-model="loginCtrl.LoginDetails.UserName"
                                   ng-keydown="$event.keyCode === 13 && loginCtrl.Login();" 
                                   id="login-username" />

                            <span class="input-label">PASSWORD</span>
                            <input type="password" class="form-control" ng-model="loginCtrl.LoginDetails.Password"
                                   ng-keydown="$event.keyCode === 13 && loginCtrl.Login();" 
                                   id="login-password"/>

                            <br />

                            <button class="btn btn-block btn-primary mb-2"
                                    ng-click="loginCtrl.Login();"
                                    ng-keydown="$event.keyCode === 13 && loginCtrl.Login();"
                                    id="btn-login">
                                LOGIN
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>