/**Root Properties**/
:root {
  font-size: 16px;
}

body {
  font-family: 'Roboto-Regular' !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Set padding to keep content from hitting the edges */
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/* Set width on the form input elements since they're 100% wide by default */
@font-face {
  font-family: 'Roboto-Regular';
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("fonts/Lato-Bold.ttf");
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounceOutUp {
  0% {
    top: 20px;
  }
  50% {
    top: 35px;
  }
  100% {
    top: -50px;
  }
}

@keyframes bounceOutUp {
  0% {
    top: 20px;
  }
  50% {
    top: 35px;
  }
  100% {
    top: -50px;
  }
}

:root {
  font-size: 16px;
  --bg-primary: #23967F;
  --bg-primary-muted: #147662;
  --bg-danger: #B44343;
  --bg-danger: #CD3939;
  --bg-danger-active: #B73232;
  --bg-default: #23AAD4;
  --bg-default-active: #1F97BC;
  --bg-success: #00BFB3;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --bg-muted: #F5F5F5;
  --bg-primary-dark: #1C7462;
  --bg-dark: #023436;
  --bg-warning: #FCBF49;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.dl-horizontal dt {
  white-space: normal;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
  color: white;
}

.main-screen {
  max-height: calc(100% - 4rem);
}

.main-screen .content-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 3rem) !important;
  width: 100%;
}

.main-screen .report-screen {
  margin: 10vh 60vh 10vh 60vh;
}

.main-screen .report-screen .card-body {
  padding: 2rem !important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.3rem;
  font-family: 'Roboto-Regular';
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  margin: 1em;
}

.card .card-sm {
  max-width: 500px;
}

.card + .card {
  margin-left: 0;
}

.card.card-wipe {
  overflow-x: hidden;
}

.card.card-wipe .card-body-wipe {
  width: calc(200% + 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  left: calc(50% + 1rem);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.card.card-wipe .card-body-wipe .wipe-child {
  width: calc(100% + 1rem);
  position: relative;
  display: inline-block;
}

.card.card-wipe .card-body-wipe .wipe-child.main-child {
  margin-right: 2rem;
}

.card.card-wipe .card-body-wipe.wiped {
  left: calc(-50% - 1rem);
}

.bar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset 0 0 0.25rem #aaa;
  box-shadow: inset 0 0 0.25rem #aaa;
  background: #ddd;
  height: 100%;
  color: #333 !important;
  border: none;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: none;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  overflow-y: scroll;
}

.bar.shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bar .bar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid var(--bg-primary);
}

.bar .bar-header .bar-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  font-size: 0.8rem;
  background: #bbb !important;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.bar .bar-header .bar-tab.active {
  background: #ddd !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bar .bar-header .bar-tab.active:last-child {
  -webkit-box-shadow: inset -7px 0 9px 0.25rem #aaa;
  box-shadow: inset -7px 0 9px -8px #aaa;
}

.bar .bar-body {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar .bar-body .bar-content-header {
  font-weight: bold;
  padding: 0;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar .bar-body .bar-content-header .icon {
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar .bar-body .bar-content-header .icon svg {
  width: 1rem;
  height: 1rem;
}

.bar .bar-body .card {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0.5rem;
}

.bar .bar-footer {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bar .bar-footer .btn-sm {
  font-size: 0.8rem;
  min-width: 2rem;
  padding: 0.5rem;
}

.bar .bar-footer .btn + .btn {
  margin-right: 0.5rem;
}

form {
  width: 100%;
}

form input {
  font-size: 0.8rem;
}

form label {
  color: #666;
  font-size: 0.75rem;
  font-weight: 600 !important;
  margin-bottom: 0.25rem;
}

.dataTables_filter {
  margin-bottom: 0.5rem;
}

.dataTables_filter label {
  margin: 0 !important;
}

.dataTables_paginate .pagination {
  margin: 0 !important;
}

.navbar {
  min-height: 3rem;
  background: #23967F !important;
}

.navbar .navbar-nav {
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 2.5rem !important;
}

.navbar .btn {
  color: #fff;
  background: inherit;
  border: 1px solid #fff;
}

.navbar .btn:hover {
  color: #eee;
  background: #10715D;
  border: 1px solid #eee;
}

.fab-status {
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 5rem;
  color: #fff;
  padding: 0.25rem 0.75rem;
}

.fab-status.fab-success {
  background: var(--bg-primary);
}

.fab-status.fab-pending {
  background: #D1C554 !important;
}

.fab-status.fab-danger {
  background: var(--bg-danger) !important;
}

.content {
  background: #eee;
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 3rem);
}

.content .content-header {
  padding: 1rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.content .content-header.customer-details {
  background: #444 !important;
  padding: 1rem;
  color: #fff;
  border-radius: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-header.customer-details .address {
  padding-left: 1.75rem;
}

.content .content-header .input-group {
  width: 30% !important;
}

.content .content-header .sales-mode {
  padding-right: 20vw;
}

.content .content-header .sales-mode .btn-selected {
  background: #555;
  color: #fff;
}

.content .content-header .sales-mode .btn-unselected {
  background: #ccc;
  color: #777;
}

.content .content-body {
  padding: 1rem 2rem;
  max-height: 80% !important;
  overflow-y: auto;
}

.content .content-body .maintenance {
  height: 77.5vh;
}

.content .content-body.orders-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 77.5vh;
  grid-gap: 2rem;
  max-height: 100% !important;
}

.content .content-body.orders-grid.new-order {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.content .content-body.orders-grid .grid-item {
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content-body.orders-grid .grid-item .grid-header {
  background: #ddd;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-body.orders-grid .grid-item .empty-table {
  width: 100%;
  height: 100%;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30vh;
}

.content .content-body.orders-grid .grid-item .product-list,
.content .content-body.orders-grid .grid-item .products-in-order {
  overflow-y: auto;
  padding-bottom: 2rem !important;
}

.content .content-body.orders-grid .grid-item .product-list th,
.content .content-body.orders-grid .grid-item .products-in-order th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: #fff;
  color: var(--bg-primary);
  padding: 1rem 0.5rem !important;
  border-bottom: 2px solid var(--bg-primary);
}

.content .content-body.orders-grid .grid-item .order-footer {
  margin-top: auto;
  border-top: 2px solid var(--bg-primary);
}

.content .content-body.orders-grid .grid-item .order-footer .order-total {
  background: #777;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 0.5rem 1rem;
}

.content .content-body.orders-grid .grid-item .order-footer .order-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  background: #444;
  justify-items: flex-end;
  width: 100%;
}

.content .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 1.5rem;
  width: calc(100% - 4rem);
  border-radius: 5px;
}

.content .receipt {
  background: #555;
  padding: 3rem 25vw 0 25vw;
  height: 100%;
}

.content .receipt .receipt-body {
  color: #555;
  background: #fff;
  height: 90%;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .receipt .receipt-body .receipt-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #ddd;
  background: #555;
}

.content .receipt .receipt-body .receipt-section:not(:first-child) {
  margin-top: 1rem;
}

.content .receipt .receipt-body .sales-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1.75rem;
}

.content .receipt .receipt-body .sales-details .label {
  margin-right: 1rem;
}

.content .receipt .receipt-body .product-container {
  height: 100%;
  overflow-y: auto;
}

.content .receipt .receipt-body .product-container::-webkit-scrollbar {
  display: none;
}

.content .receipt .receipt-body .product-list,
.content .receipt .receipt-body .total,
.content .receipt .receipt-body .shipping-fee,
.content .receipt .receipt-body .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-auto-rows: 4rem;
  padding: 0 1rem;
}

.content .receipt .receipt-body .product-list .label,
.content .receipt .receipt-body .total .label,
.content .receipt .receipt-body .shipping-fee .label,
.content .receipt .receipt-body .header .label {
  margin-right: 1rem;
}

.content .receipt .receipt-body .product-list .price,
.content .receipt .receipt-body .total .price,
.content .receipt .receipt-body .shipping-fee .price,
.content .receipt .receipt-body .header .price {
  text-align: right;
}

.content .receipt .receipt-body .product-list .center,
.content .receipt .receipt-body .total .center,
.content .receipt .receipt-body .shipping-fee .center,
.content .receipt .receipt-body .header .center {
  text-align: center;
}

.content .receipt .receipt-body .shipping-fee,
.content .receipt .receipt-body .header {
  grid-auto-rows: 2rem;
}

.content .receipt .receipt-body .shipping-fee {
  margin-top: auto;
}

.content .receipt .receipt-body .total {
  padding-top: 1rem;
  border-top: solid 3px #ddd;
  font-size: 1.15rem;
}

.content .receipt .receipt-footer {
  margin-top: auto;
  padding: 1rem;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown-customers {
  min-width: 20vw;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 !important;
  border-radius: 5px !important;
  -webkit-box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 600px;
  overflow-y: auto;
}

.dropdown-customers .dropdown-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--bg-primary-dark);
  padding: 0.75rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.dropdown-customers ul {
  padding-left: 0;
  padding-top: 0;
}

.dropdown-customers ul li {
  padding: 1rem;
  text-align: left;
  cursor: pointer;
}

.dropdown-customers ul li.dropdown-item {
  padding-left: 1rem;
}

.btn.dropdown-toggle:disabled {
  opacity: 1 !important;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-toggle.in-form {
  color: #495057;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ced4da;
  font-weight: 500;
  font-size: 0.9rem;
}

.dropdown-toggle.in-form:active, .dropdown-toggle.in-form:focus {
  border: 2px solid #23967F !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dropdown-toggle.in-form:active.ng-invalid:not(.ng-pristine), .dropdown-toggle.in-form:focus.ng-invalid:not(.ng-pristine) {
  border: 2px solid var(--bg-danger) !important;
}

.dropdown-toggle.in-form + .dropdown-menu {
  width: 100%;
  -webkit-box-shadow: 0px 4px 5px var(--shadow-color);
          box-shadow: 0px 4px 5px var(--shadow-color);
  max-height: 20rem;
  overflow-y: auto;
  position: relative;
}

.dropdown-toggle.in-form + .dropdown-menu .search-form {
  position: -webkit-sticky;
  position: sticky;
  top: -0.5rem;
  background: #fff;
  width: 100%;
}

.dropdown-toggle.in-form + .dropdown-menu .search-form div {
  padding: 0.5rem 1rem;
}

.dropdown-toggle.in-form + .dropdown-menu ul {
  margin-bottom: 0;
  padding-left: 0;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active, .dropdown-item:focus {
  color: #fff;
  background-color: var(--bg-primary);
}

.pagination {
  font-size: 1rem !important;
}

.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus {
  color: #bbb;
  background: none;
}

.pagination .active a,
.pagination .active:hover a,
.pagination .active:active a,
.pagination .active:focus a {
  background: var(--bg-primary);
  border-color: var(--bg-primary);
  color: #fff;
}

.pagination li a {
  margin: 0 0.5rem;
  border-radius: 50%;
  background: none;
  color: #555;
}

.pagination li a:hover {
  background: #2DB499;
  color: #fff;
}

.pagination li a:active, .pagination li a:focus {
  background: var(--bg-primary);
  color: #fff;
}

.pagination li span {
  color: #555 !important;
}

.pagination li:last-child a, .pagination li:first-child a {
  border-radius: 2rem;
  padding: 0.40rem 1.5rem;
}

.input-group-text {
  background: none !important;
  border: none;
  position: absolute;
  bottom: 0.25rem;
  left: -0.5rem;
}

.table-separated {
  font-family: 'Lato' !important;
  border-spacing: 0 0.5rem !important;
  border-collapse: separate;
}

.table-separated tr td,
.table-separated tr th {
  border: none !important;
  vertical-align: middle !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0 0.75rem !important;
}

.table-separated tr td {
  font-size: 1rem;
  font-weight: 500;
  background: #fefefe;
  -webkit-box-shadow: 4px 2px 5px var(--shadow-color);
          box-shadow: 4px 2px 5px var(--shadow-color);
  padding: 1rem !important;
}

.table-separated tr td:first-child {
  border-left-style: solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.table-separated tr td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

td .price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
}

td .price-list .price-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

td .price-list .price-type .type {
  font-weight: bold;
  color: var(--bg-primary);
}

td .price-list .price-type .price {
  margin-left: 1rem;
  text-align: right;
}

.table td {
  vertical-align: middle;
}

.table tr:last-child td {
  border-bottom: 1px solid #ddd;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.custom-select {
  font-size: 0.9rem;
}

.custom-select:active, .custom-select:focus {
  border: 2px solid #23967F !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-select:active.ng-invalid:not(.ng-pristine), .custom-select:focus.ng-invalid:not(.ng-pristine) {
  border: 2px solid var(--bg-danger) !important;
}

.form-control {
  width: 100%;
  padding: 0.5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-control:active, .form-control:focus {
  border: 2px solid #23967F !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-control:active.ng-invalid:not(.ng-pristine), .form-control:focus.ng-invalid:not(.ng-pristine) {
  border: 2px solid var(--bg-danger) !important;
}

.form-control.ng-invalid {
  border: 1px solid var(--bg-danger);
}

.form-control.ng-pristine {
  border: 1px solid #ced4da;
}

.form-control.ng-pristine:active, .form-control.ng-pristine:focus {
  border: 2px solid #23967F !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-control.ng-pristine:active.ng-invalid:not(.ng-pristine), .form-control.ng-pristine:focus.ng-invalid:not(.ng-pristine) {
  border: 2px solid var(--bg-danger) !important;
}

.form-control.inline {
  border-radius: 0;
  background: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #aaa !important;
  padding-left: 2rem !important;
}

.form-control.inline:active, .form-control.inline:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none;
  border-bottom: 2px solid #23967F !important;
  font-weight: 500;
}

.form-control:disabled:hover {
  cursor: not-allowed;
}

.form-control + .btn-inline {
  margin-left: 0.5rem;
}

.form-control.search {
  max-width: 20rem;
}

.form-validation-msg {
  color: var(--bg-danger);
  font-weight: bold;
  font-size: 0.8rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #23967F;
  border-color: #23967F;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--bg-primary);
  background-color: var(--bg-primary);
}

.card-body {
  padding: 1rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto-Bold';
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto-Bold';
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto-Bold';
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto-Bold';
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto-Bold';
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto-Bold';
}

.loader-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75vh;
}

.loader-design .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}

.loader-design .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--bg-primary);
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-design .lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.loader-design .lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-design .lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-design .lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

.page-loader {
  position: fixed;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: white;
}

.page-loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-details {
  width: 100% !important;
  display: table !important;
  padding: 0 1rem 1rem 1rem;
}

.custom-control.custom-radio {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-control-label:after {
  cursor: pointer;
}

.btn {
  -webkit-box-shadow: 0px 2px 2px var(--shadow-color);
          box-shadow: 0px 2px 2px var(--shadow-color);
  font-family: 'Roboto-Medium';
  min-width: 4rem !important;
  cursor: pointer !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  text-align: center;
}

.btn:focus, .btn:active {
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 2px 2px var(--shadow-color);
          box-shadow: 0px 2px 2px var(--shadow-color);
}

.btn div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn div span {
  white-space: nowrap;
}

.btn div svg {
  margin-left: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.btn.btn-xs {
  width: 2.25rem !important;
  height: 2.25rem !important;
  min-width: 1px !important;
  font-size: 0.8rem;
  text-align: center;
}

.btn.btn-icon {
  min-width: 1px !important;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn.btn-radio {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5rem 1rem;
  background: none;
  border-color: var(--bg-primary);
  color: var(--bg-primary);
}

.btn.btn-radio:hover {
  background: #eee;
}

.btn.btn-primary, .btn.btn-radio.active {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
  color: #fff;
}

.btn.btn-default {
  background-color: var(--bg-default);
  border-color: var(--bg-default);
  color: white;
}

.btn.btn-default:hover {
  background: var(--bg-default-active);
  border-color: var(--bg-default-active);
}

.btn.btn-danger {
  background-color: var(--bg-danger);
  border-color: var(--bg-danger);
  color: white;
}

.btn.btn-danger:hover {
  background: var(--bg-danger-active);
  border-color: var(--bg-danger-active);
}

.btn.btn-outlined {
  color: white;
  border: 2px solid white;
}

.btn.btn-primary-inverse {
  background-color: var(--bg-muted);
  border-color: var(--bg-muted);
  color: var(--bg-primary);
}

.btn.btn-primary-inverse:hover {
  border: 1px solid transparent;
  background-color: #ddd !important;
}

.btn.btn-transparent-white {
  color: #fff !important;
  background: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn.btn-alert {
  min-width: 5rem !important;
}

.btn + .btn {
  margin-left: 0.5rem;
}

small {
  color: #777 !important;
}

.input-group-text svg {
  width: 1rem;
  height: 1rem;
}

.btn-primary:hover {
  background-color: var(--bg-primary-muted) !important;
  border-color: var(--bg-primary-muted) !important;
}

.btn-primary:active {
  background-color: var(--bg-primary-muted) !important;
  border-color: var(--bg-primary-muted) !important;
}

.btn-primary:focus {
  background-color: var(--bg-primary-muted) !important;
  border-color: var(--bg-primary-muted) !important;
}

.btn-sm {
  font-size: 0.9rem;
  min-width: 2rem;
}

.modal-overlay {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-overlay .modal-container {
  background: #fff;
  position: relative;
  bottom: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
}

.modal-overlay .modal-container.modal-sm {
  max-width: 770px;
  min-height: 400px;
  min-width: 400px;
}

.modal-overlay .modal-container .modal-header {
  background: var(--bg-primary-dark);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-xs {
  max-width: 770px;
  min-height: 400px;
}

.modal-md {
  max-width: 900px !important;
  min-width: 500px;
  min-height: 400px;
}

.modal-lg {
  max-width: 1200px;
  min-width: 500px;
  min-height: 400px;
}

.modal-close {
  margin-left: auto;
}

.confirm-modal-container {
  z-index: 10000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  left: 50px;
}

.card-sm .card-body {
  padding: 0.3rem !important;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: white;
  padding: 2rem;
}

.modal-body input, .modal-body textarea, .modal-body select {
  min-width: 360px;
}

span strong {
  letter-spacing: 1.5px;
}

.btn.btn-muted {
  background-color: #ddd;
}

.btn.btn-transparent {
  background-color: transparent !important;
  color: var(--bg-primary) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-shadow: 0px 2px 2px var(--shadow-color);
          box-shadow: 0px 2px 2px var(--shadow-color);
}

.btn.btn-transparent.btn-disabled {
  color: gray !important;
}

.btn.btn-transparent.btn-disabled:hover {
  background: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-transparent.btn-danger {
  color: var(--bg-danger) !important;
  border: none;
}

.btn.btn-transparent.btn-danger:hover {
  color: #fff !important;
  background-color: var(--bg-danger) !important;
  border: none;
}

.btn.btn-transparent.btn-default {
  color: var(--bg-default) !important;
  border: none;
}

.btn.btn-transparent.btn-default:hover {
  color: #fff !important;
  background-color: var(--bg-default) !important;
  border: none;
}

.btn-transparent:hover {
  background-color: var(--bg-primary) !important;
  color: white !important;
}

.product-details {
  background: #EDEDED;
  -webkit-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sale-purchase {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container-full {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.input-label {
  color: #444;
  font-size: 0.9rem;
  font-weight: bold;
}

.form-label {
  color: #fff;
  font-size: 0.8rem !important;
}

i.login-logo {
  font-size: 9rem;
  color: var(--bg-primary);
  position: relative;
  top: -15px;
}

.login-banner {
  position: absolute;
  font-size: 1.6rem;
  color: var(--bg-primary);
  text-align: center;
  left: 52px;
  top: 200px;
}

.login-input-section {
  color: var(--bg-primary);
  width: 250px;
}

.login-banner-section {
  border-right: 2px solid var(--bg-primary) !important;
}

.login-card {
  position: relative;
  bottom: 50px;
  -webkit-box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}

.sidebar {
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  background: var(--bg-primary-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 6px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 0px 4px rgba(0, 0, 0, 0.25);
}

.sidebar > div > .navbar {
  background: var(--bg-dark);
  max-height: 3rem;
}

.sidebar .navbar {
  background: #333 !important;
}

.sidebar .navbar .btn-sm {
  margin: 10px 0;
}

.img-invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.menu-img {
  margin: 0.25rem 0;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paginate_button.page-item:focus {
  outline: none !important;
}

.sidebar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.user-info__labels {
  margin-left: 15px;
  padding-top: 4px;
}

.user-info__name {
  font-family: 'Roboto-Regular' !important;
  font-size: 1.3em;
  line-height: 1.3em;
}

.user-info__role {
  font-family: 'Roboto-Light' !important;
  font-size: 0.9em;
  padding-top: 10px;
}

.user-info__img {
  min-width: 80px;
  min-height: 80px;
  background: white;
}

.sidebar-main__nav-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-main__nav-item {
  font-size: 1.1em;
  font-family: 'Roboto-Regular';
  vertical-align: middle;
  padding: 15px 30px;
  cursor: pointer;
}

.sidebar-main__nav-item:hover {
  background: #26816f;
}

.action-col {
  max-width: 12rem;
}

.action-col .btn:first-child {
  margin-left: 1rem;
}

.action-col .btn:last-child {
  margin-right: 1rem;
}

.nav-item__img {
  margin-right: 10px;
}

.sidebar-main__nav-item.active-item {
  background: var(--bg-primary);
  font-family: 'Roboto-Bold';
  letter-spacing: 1px;
}

.cell-no-wrap {
  white-space: nowrap;
}

.cell-wrap {
  word-wrap: break-word;
}

.cell-center {
  text-align: center;
}

.item-label {
  display: inline-block;
  font-size: 1rem;
  border-left: 3px solid var(--bg-primary);
  padding-left: 0.5em;
  font-weight: bold;
  background: rgba(35, 150, 127, 0.05);
  width: 100%;
  padding: 0.1em 0 0.1em 0.5em;
}

.quick-alert {
  position: fixed;
  z-index: 100000;
  min-width: 10rem;
  top: 20px;
  margin: 0 auto;
  display: block;
  left: 45vw;
  text-align: center;
  padding: 0.3em 1em;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.quick-alert-success {
  color: white;
  background: var(--bg-success);
}

.quick-alert-error {
  color: white;
  background: var(--bg-danger);
}

.fade-in {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.bounce-out-up {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: bounceOutUp;
          animation-name: bounceOutUp;
}

.form-control[readonly] {
  background: white !important;
  cursor: pointer;
}

.unauthorized-body {
  color: black;
  padding: 3em;
  max-width: 30rem;
  text-align: center;
}

.error-img {
  width: 50px;
  height: 50px;
  color: red;
}

.avatar-icon {
  line-height: 0 !important;
  font-size: 5rem;
}

.unauthorized-icon {
  line-height: 0 !important;
  font-size: 3rem;
  color: var(--bg-warning);
}

.credits {
  padding: 1rem;
  color: white;
  opacity: 0.7;
  background: var(--bg-dark);
  -webkit-box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 0.8rem;
}

.credits a {
  color: white !important;
  font-weight: bold;
  text-decoration: underline;
}

.icon-critical-stock {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 5px;
  color: var(--bg-danger);
}

.icon-critical-stock:hover .tooltip-text {
  display: inline;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px var(--shadow-color);
          box-shadow: 0px 2px 2px var(--shadow-color);
  background: var(--bg-danger);
  border-radius: 0.2rem;
}

.tooltip-text {
  z-index: 10;
  display: none;
  padding: 0.5rem;
  bottom: 30px;
  font-size: 0.8rem;
  position: absolute;
  white-space: nowrap;
  left: -40px;
}

@media (max-width: 576px) {
  .form-control {
    width: 200px;
  }
  .login-input-section {
    width: 150px;
  }
  i.login-logo {
    font-size: 8rem;
    color: var(--bg-primary);
  }
  .login-banner {
    position: absolute;
    font-size: 1.6rem;
    color: var(--primary);
    text-align: center;
    left: 45px;
    top: 200px;
  }
}
/*# sourceMappingURL=Site.css.map */