/**Root Properties**/
:root {
    font-size: 16px;
    --bg-primary: #23967F;
    --bg-primary-muted: #147662;
    --bg-danger: #B44343;
    --bg-default: #23AAD4;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --bg-muted: #F5F5F5;
    --bg-primary-dark: #037971;
    --bg-dark: #023436;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf');
}

.bg-primary {
    background-color: var(--bg-primary) !important;
    color: white;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.3rem;
    font-family: 'Roboto-Regular';
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    margin: 1em;
}

.navbar-nav {
    display: -ms-flexbox;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.form-control {
    display: block;
    width: 250px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #A8A8A8;
    border-radius: 0.15rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #23967F;
    border-color: #23967F;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--bg-primary);
    background-color: var(--bg-primary);
}

.card-body {
    padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto-Bold';
}


.loader-design {
    display: flex;
    justify-content: center;
}

    .loader-design img {
        margin: 5em 0;
        max-width: 3em;
        max-height: 3em;
    }

.table-details {
    width: 100% !important;
    display: table !important;
    padding: 1em;
}

.custom-control-label:after {
    cursor: pointer;
}

.btn {
    box-shadow: 0px 2px 2px var(--shadow-color);
    font-family: 'Roboto-Medium';
}



    .btn.btn-primary {
        background-color: var(--bg-primary);
        border-color: var(--bg-primary);
    }

    .btn.btn-primary-inverse {
        background-color: var(--bg-muted);
        border-color: var(--bg-muted);
        color: var(--bg-primary);
    }

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--bg-primary-muted) !important;
    border-color: var(--bg-primary-muted) !important;
}

.btn-sm {
    font-size: 0.8rem;
}

.modal-overlay {
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container {
    z-index: 10000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    left: 100px;
    top: 150px;
}

.modal-xs {
    max-width: 770px;
    min-height: 400px;
}

.modal-sm {
    max-width: 770px;
    min-width: 770px;
    min-height: 400px;
}

.modal-md {
    max-width: 900px !important;
    min-width: 500px;
    min-height: 400px;
}

.modal-lg {
    max-width: 1024px;
    min-width: 500px;
    min-height: 400px;
}

.modal-close {
    margin-left: auto;
}

.card .card-sm {
    max-width: 500px;
}

.card-sm .card-body {
    padding: 0.3rem !important;
}

.modal-body {
    display: flex;
    justify-content: flex-start;
    background: white;
}

span strong {
    letter-spacing: 1.5px;
}

.btn.btn-muted {
    background-color: #ddd;
}

.btn.btn-transparent {
    background-color: transparent !important;
    color: var(--bg-primary) !important;
    box-shadow: none !important;
}

.btn.btn-transparent {
    box-shadow: 0px 2px 2px var(--shadow-color);
}

    .btn.btn-transparent.btn-disabled {
        color: gray !important;
    }

        .btn.btn-transparent.btn-disabled:hover {
            background: none !important;
            box-shadow: none;
        }


    .btn.btn-transparent.btn-danger {
        color: var(--bg-danger) !important;
        border: none;
    }

        .btn.btn-transparent.btn-danger:hover {
            color: #fff !important;
            background-color: var(--bg-danger) !important;
            border: none;
        }

    .btn.btn-transparent.btn-default {
        color: var(--bg-default) !important;
        border: none;
    }

        .btn.btn-transparent.btn-default:hover {
            color: #fff !important;
            background-color: var(--bg-default) !important;
            border: none;
        }

.btn-transparent:hover,
.btn-primary-inverse:hover {
    background-color: var(--bg-primary) !important;
    color: white !important;
}

.product-details {
    background: #EDEDED;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sale-purchase {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container-full {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

span.input-label {
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
}

i.login-logo {
    font-size: 9rem;
    color: var(--bg-primary);
    position: relative;
    top: -15px;
}

.login-banner {
    position: absolute;
    font-size: 1.8rem;
    color: var(--bg-primary);
    text-align: center;
    left: 52px;
    top: 200px;
}

.login-input-section {
    color: var(--bg-primary);
    width: 250px;
}

.login-banner-section {
    border-right: 2px solid var(--bg-primary) !important;
}

.form-control:focus {
    outline: 2px solid var(--bg-primary) !important;
    font-family: Roboto-Medium;
    border-radius: 0.15rem;
}

.login-card {
    position: relative;
    bottom: 50px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}

.user-details-section {
    max-height: 440px;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    background: var(--bg-primary-dark);
    display: flex;
    flex-direction: column;
}

    .sidebar > .navbar {
        background: var(--bg-dark);
    }

        .sidebar > .navbar > .btn-sm {
            margin: 10px 0;
        }

.img-invert {
    filter: invert(100%);
}

.menu-img {
    margin: 12px 0;
}

.main-container {
    display: flex;
}

.paginate_button.page-item:focus {
    outline: none !important;
}

.sidebar-main {
    display: flex;
    flex-direction: column;
    color: white;
}

.user-info {
    display: flex;
    padding: 1.5em;
    border-bottom-color: rgba(0,0,0,0.3);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.user-info__labels {
    margin-left: 15px;
}

.user-info__name {
    font-family: 'Roboto-Regular' !important;
    font-size: 1.3em;
    line-height: 1.3em;
}

.user-info__role {
    font-family: 'Roboto-Light' !important;
    font-size: 1.1em;
}

.user-info__img {
    min-width: 80px;
    min-height: 80px;
    background: white;
}


.sidebar-main__nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-main__nav-item {
    font-size: 1.1em;
    font-family: 'Roboto-Regular';
    vertical-align: middle;
    padding: 15px 30px;
    cursor: pointer;
    margin-bottom: 2px;
}

.nav-item__img {
    margin-right: 10px;
}

.sidebar-main__nav-item.active-item {
    background: var(--bg-primary);
    font-family: 'Roboto-Bold';
    letter-spacing: 1px;
}

.sidebar-main__nav-item:hover {
    background: var(--bg-primary);
    font-family: 'Roboto-Bold';
    letter-spacing: 1px;
}

@media (max-width: 576px) {
    .form-control-sm {
        max-width: 200px
    }

    .login-input-section {
        width: 150px;
    }

    i.login-logo {
        font-size: 8rem;
        color: var(--bg-primary);
    }

    .login-banner {
        position: absolute;
        font-size: 1.8rem;
        color: var(--primary);
        text-align: center;
        left: 45px;
        top: 200px;
    }
}
