@import './scss/sidebar';
@import './scss/report';
@import './scss/bar';

/**Root Properties**/

:root {
    font-size: 16px;
}

body {
    font-family: 'Roboto-Regular' !important;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/* width */

 ::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #ddd;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 25px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/


/* Set width on the form input elements since they're 100% wide by default */

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceOutUp {
    0% {
        top: 20px;
    }
    50% {
        top: 35px;
    }
    100% {
        top: -50px;
    }
}

$bg-primary: #23967F;
:root {
    font-size: 16px;
    --bg-primary: #23967F;
    --bg-primary-muted: #147662;
    --bg-danger: #B44343;
    --bg-danger: #CD3939;
    --bg-danger-active: #B73232;
    --bg-default: #23AAD4;
    --bg-default-active: #1F97BC;
    --bg-success: #00BFB3;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --bg-muted: #F5F5F5;
    --bg-primary-dark: #1C7462;
    --bg-dark: #023436;
    --bg-warning: #FCBF49;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal {
    dt {
        white-space: normal;
    }
}

.bg-primary {
    background-color: var(--bg-primary) !important;
    color: white;
}

.main-screen {
    max-height: calc(100% - 4rem);
    .content-screen {
        display: flex;
        height: calc(100vh - 3rem) !important;
        width: 100%;
    }
    
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.3rem;
    font-family: 'Roboto-Regular';
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    margin: 1em;
    .card-sm {
        max-width: 500px;
    }
    &+.card {
        margin-left: 0;
    }
    &.card-wipe {
        overflow-x: hidden;
        .card-body-wipe {
            width: calc(200% + 2rem);
            display: flex;
            white-space: nowrap;
            overflow-x: hidden;
            position: relative;
            left: calc(50% + 1rem);
            transition: 500ms ease-in-out;
            .wipe-child {
                width: calc(100% + 1rem);
                position: relative;
                display: inline-block;
                &.main-child {
                    margin-right: 2rem;
                }
            }
            &.wiped {
                left: calc(-50% - 1rem);
            }
        }
    }
}

form {
    width: 100%;
    input {
        font-size: 0.8rem;
    }
    label {
        color: #666;
        font-size: 0.75rem;
        font-weight: 600 !important;
        margin-bottom: 0.25rem;
    }
}

.dataTables_filter {
    margin-bottom: 0.5rem;
    label {
        margin: 0 !important;
    }
}

.dataTables_paginate {
    .pagination {
        margin: 0 !important;
    }
}

.navbar {
    min-height: 3rem;
    background: #23967F !important;
    .navbar-nav {
        display: -ms-flexbox;
        flex-direction: row;
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        height: 2.5rem !important;
    }
    .btn {
        color: #fff;
        background: inherit;
        border: 1px solid #fff;
        &:hover {
            color: #eee;
            background: #10715D;
            border: 1px solid #eee;
        }
    }
}

.fab-status {
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 5rem;
    color: #fff;
    padding: 0.25rem 0.75rem;
    &.fab-success {
        background: var(--bg-primary);
    }
    &.fab-pending {
        background: #D1C554 !important;
    }
    &.fab-danger {
        background: var(--bg-danger) !important;
    }
}

.content {
    background: #eee;
    position: relative;
    overflow-y: auto;
    height: calc(100vh - 3rem);
    .content-header {
        padding: 1rem 2rem 0 2rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        border-radius: 5px;
        &.customer-details {
            background: #444 !important;
            padding: 1rem;
            color: #fff;
            border-radius: 0;
            align-items: center;
            .address {
                padding-left: 1.75rem;
            }
        }
        .input-group {
            width: 30% !important;
        }
        .sales-mode {
            padding-right: 20vw;
            .btn-selected {
                background: #555;
                color: #fff;
            }
            .btn-unselected {
                background: #ccc;
                color: #777;
            }
        }
    }
    .content-body {
        padding: 1rem 2rem;
        max-height: 80% !important;
        overflow-y: auto;
        .maintenance {
            height: 77.5vh;
        }
        &.orders-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 77.5vh;
            grid-gap: 2rem;
            max-height: 100% !important;
            &.new-order {
                grid-template-columns: repeat(2, 1fr);
            }
            .grid-item {
                height: 100%;
                background: #fff;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .grid-header {
                    background: #ddd;
                    padding: 1rem;
                    position: sticky;
                    top: -1px;
                    z-index: 300;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .empty-table {
                    width: 100%;
                    height: 100%;
                    color: #555;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding-top: 30vh;
                }
                .product-list,
                .products-in-order {
                    overflow-y: auto;
                    padding-bottom: 2rem !important;
                    th {
                        position: sticky;
                        top: -1px;
                        background: #fff;
                        color: var(--bg-primary);
                        padding: 1rem 0.5rem !important;
                        border-bottom: 2px solid var(--bg-primary);
                    }
                }
                .order-footer {
                    margin-top: auto;
                    border-top: 2px solid var(--bg-primary);

                    .order-total {
                        background: #777;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        width: 100%;
                        padding: 0.5rem 1rem;
                    }

                    .order-controls {
                        display: flex;
                        padding: 1rem;
                        background: #444;
                        justify-items: flex-end;
                        width: 100%;
                    }
                }
            }
        }
    }
    .content-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 1.5rem;
        width: calc(100% - 4rem);
        border-radius: 5px;
    }
    .receipt {
        background: #555;
        padding: 3rem 25vw 0 25vw;
        height: 100%;
        .receipt-body {
            color: #555;
            background: #fff;
            height: 90%;
            padding: 2rem 3rem;
            display: flex;
            flex-direction: column;
            .receipt-section {
                display: flex;
                flex-direction: column;
                color: #fff;
                margin-bottom: 1rem;
                font-size: 1rem;
                align-items: center;
                border-bottom: solid 1px #ddd;
                background: #555;
                &:not(:first-child) {
                    margin-top: 1rem;
                }
            }
            .sales-details {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 1.75rem;
                .label {
                    margin-right: 1rem;
                }
            }
            .product-container {
                height: 100%;
                overflow-y: auto;
            }
            .product-list,
            .total,
            .shipping-fee,
            .header {
                display: grid;
                grid-template-columns: 3fr 1fr 1fr 1fr;
                grid-auto-rows: 4rem;
                padding: 0 1rem;
                .label {
                    margin-right: 1rem;
                }
                .price {
                    text-align: right;
                }
                .center {
                    text-align: center;
                }
            }
            .shipping-fee,
            .header {
                grid-auto-rows: 2rem;
            }
            .shipping-fee {
                margin-top: auto;
            }
            .total {
                padding-top: 1rem;
                border-top: solid 3px #ddd;
                font-size: 1.15rem;
            }
        }
        .receipt-footer {
            margin-top: auto;
            padding: 1rem;
            background: #333;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.dropdown-customers {
    min-width: 20vw;
    display: none;
    flex-direction: column;
    padding: 0 !important;
    border-radius: 5px !important;
    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    max-height: 600px;
    overflow-y: auto;
    .dropdown-header {
        display: flex;
        justify-content: space-between;
        background: var(--bg-primary-dark);
        padding: 0.75rem;
        position: sticky;
        top: 0;
    }
    ul {
        padding-left: 0;
        padding-top: 0;
        li {
            padding: 1rem;
            text-align: left;
            cursor: pointer;
            &.dropdown-item {
                padding-left: 1rem;
            }
        }
    }
}

.btn.dropdown-toggle:disabled {
    opacity: 1 !important;
}

.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.in-form {
        color: #495057;
        box-shadow: none;
        border: 1px solid #ced4da;
        font-weight: 500;
        font-size: 0.9rem;

        &:active,
        &:focus {
            border: 2px solid $bg-primary !important;
            box-shadow: none !important;
            &.ng-invalid:not(.ng-pristine) {
                border: 2px solid var(--bg-danger) !important;
            }
        }

        + .dropdown-menu {
            width: 100%;
            box-shadow: 0px 4px 5px var(--shadow-color);
            max-height: 20rem;
            overflow-y: auto;
            position: relative;

            .search-form {
                position: sticky;
                top: -0.5rem;
                background: #fff;
                width: 100%;
                div {
                    padding: 0.5rem 1rem
                }
            }

            ul {
                margin-bottom: 0;
                padding-left: 0;
            }
        }
    }
}

.dropdown-item {
    cursor: pointer;
    &:active,
    &:focus {
        color: #fff;
        background-color: var(--bg-primary);
    }
}

.pagination {
    font-size: 1rem !important;
    .disabled {
        a,
        a:hover,
        a:focus {
            color: #bbb;
            background: none;
        }
    }
    .active,
    .active:hover,
    .active:active,
    .active:focus {
        a {
            background: var(--bg-primary);
            border-color: var(--bg-primary);
            color: #fff;
        }
    }
    li {
        a {
            margin: 0 0.5rem;
            border-radius: 50%;
            background: none;
            color: #555;
            &:hover {
                background: #2DB499;
                color: #fff;
            }
            &:active,
            &:focus {
                background: var(--bg-primary);
                color: #fff;
            }
        }
        span {
            color: #555 !important;
        }
        &:last-child,
        &:first-child {
            a {
                border-radius: 2rem;
                padding: 0.40rem 1.5rem;
            }
        }
    }
}

.input-group-text {
    background: none !important;
    border: none;
    position: absolute;
    bottom: 0.25rem;
    left: -0.5rem;
}

.table-separated {
    font-family: 'Lato' !important;
    border-spacing: 0 0.5rem !important;
    border-collapse: separate;
    tr {
        td,
        th {
            border: none !important;
            vertical-align: middle !important;
            box-shadow: none;
            font-weight: bold;
            font-size: 0.8rem;
            padding: 0 0.75rem !important;
        }
        td {
            font-size: 1rem;
            font-weight: 500;
            background: #fefefe;
            box-shadow: 4px 2px 5px var(--shadow-color);
            padding: 1rem !important;
            &:first-child {
                border-left-style: solid;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child {
                border-right-style: solid;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    }
}

td {
    .price-list {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        .price-type {
            display: flex;
            justify-content: space-between;
            .type {
                font-weight: bold;
                color: var(--bg-primary);
            }
            .price {
                margin-left: 1rem;
                text-align: right;
            }
        }
    }
}

.table {
    td {
        vertical-align: middle;
    }
    tr {
        &:last-child {
            td {
                border-bottom: 1px solid #ddd;
            }
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
}

.custom-select {
    font-size: 0.9rem;
    &:active,
    &:focus {
        border: 2px solid $bg-primary !important;
        box-shadow: none !important;
        &.ng-invalid:not(.ng-pristine) {
            border: 2px solid var(--bg-danger) !important;
        }
    }
}

.form-control {
    width: 100%;
    padding: 0.5rem 0.75rem;
    display: flex;
    font-size: 0.9rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    flex: 1;
    &:active,
    &:focus {
        border: 2px solid $bg-primary !important;
        box-shadow: none !important;
        &.ng-invalid:not(.ng-pristine) {
            border: 2px solid var(--bg-danger) !important;
        }
    }
    &.ng-invalid {
        border: 1px solid var(--bg-danger);
    }
    &.ng-pristine {
        border: 1px solid #ced4da;
        &:active,
        &:focus {
            border: 2px solid $bg-primary !important;
            box-shadow: none !important;
            &.ng-invalid:not(.ng-pristine) {
                border: 2px solid var(--bg-danger) !important;
            }
        }
    }
    &.inline {
        border-radius: 0;
        background: none !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #aaa !important;
        padding-left: 2rem !important;
        &:active,
        &:focus {
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            box-shadow: none !important;
            outline: none;
            border-bottom: 2px solid #23967F !important;
            font-weight: 500;
        }
    }
    &:disabled {
        &:hover {
            cursor: not-allowed;
        }
    }
    +.btn-inline {
        margin-left: 0.5rem;
    }
    &.search {
        max-width: 20rem;
    }
}

.form-validation-msg {
    color: var(--bg-danger);
    font-weight: bold;
    font-size: 0.8rem;
}

.page-item.active {
    .page-link {
        z-index: 3;
        color: #fff;
        background-color: #23967F;
        border-color: #23967F;
    }
}

.custom-control-input {
    &:checked {
        ~ {
            .custom-control-label {
                &::before {
                    color: #fff;
                    border-color: var(--bg-primary);
                    background-color: var(--bg-primary);
                }
            }
        }
    }
}

.card-body {
    padding: 1rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto-Bold';
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto-Bold';
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto-Bold';
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto-Bold';
}

h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto-Bold';
}

h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto-Bold';
}

.loader-design {
    display: flex;
    justify-content: center;
    height: 75vh;
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        margin: auto;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: var(--bg-primary);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
}

.page-loader {
    position: fixed;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: white;
}

.page-loader-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

.table-details {
    width: 100% !important;
    display: table !important;
    padding: 0 1rem 1rem 1rem;
}

.custom-control {
    &.custom-radio {
        display: flex !important;
        align-items: center;
    }
}

.custom-control-label {
    &:after {
        cursor: pointer;
    }
}

.btn {
    box-shadow: 0px 2px 2px var(--shadow-color);
    font-family: 'Roboto-Medium';
    min-width: 4rem !important;
    cursor: pointer !important;
    flex-wrap: wrap;
    white-space: nowrap;
    text-align: center;
    &:focus,
    &:active {
        border: none;
        outline: none;
        box-shadow: 0px 2px 2px var(--shadow-color);
    }
    div {
        align-items: center;
        span {
            white-space: nowrap;
        }
        svg {
            margin-left: 0.25rem;
            width: 1.25rem;
            height: 1.25rem;
        }
    }
    &.btn-xs {
        width: 2.25rem !important;
        height: 2.25rem !important;
        min-width: 1px !important;
        font-size: 0.8rem;
        text-align: center;
    }
    &.btn-icon {
        min-width: 1px !important;
        border-radius: 50%;
        display: flex;
    }
    &.btn-radio {
        flex: 1;
        padding: 0.5rem 1rem;
        background: none;
        border-color: var(--bg-primary);
        color: var(--bg-primary);
        &:hover {
            background: #eee;
        }
    }
    &.btn-primary,
    &.btn-radio.active {
        background-color: var(--bg-primary);
        border-color: var(--bg-primary);
        color: #fff;
    }
    &.btn-default {
        background-color: var(--bg-default);
        border-color: var(--bg-default);
        color: white;
        &:hover {
            background: var(--bg-default-active);
            border-color: var(--bg-default-active);
        }
    }
    &.btn-danger {
        background-color: var(--bg-danger);
        border-color: var(--bg-danger);
        color: white;
        &:hover {
            background: var(--bg-danger-active);
            border-color: var(--bg-danger-active);
        }
    }
    &.btn-outlined {
        color: white;
        border: 2px solid white;
    }
    &.btn-primary-inverse {
        background-color: var(--bg-muted);
        border-color: var(--bg-muted);
        color: var(--bg-primary);
        &:hover {
            border: 1px solid transparent;
            background-color: #ddd !important;
        }
    }
    &.btn-transparent-white {
        color: #fff !important;
        background: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
    }
    &.btn-alert {
        min-width: 5rem !important;
    }
    &+.btn {
        margin-left: 0.5rem;
    }

    
}


small {
    color: #777 !important;
}

.input-group-text {
    svg {
        width: 1rem;
        height: 1rem;
    }
}

.btn-primary {
    &:hover {
        background-color: var(--bg-primary-muted) !important;
        border-color: var(--bg-primary-muted) !important;
    }
    &:active {
        background-color: var(--bg-primary-muted) !important;
        border-color: var(--bg-primary-muted) !important;
    }
    &:focus {
        background-color: var(--bg-primary-muted) !important;
        border-color: var(--bg-primary-muted) !important;
    }
}

.btn-sm {
    font-size: 0.9rem;
    min-width: 2rem;
}

.modal-overlay {
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;

    .modal-container {
        background: #fff;
        position: relative;
        bottom: 100px;
        border-radius: 5px;
        box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
    
        &.modal-sm {
            max-width: 770px;
            min-height: 400px;
            min-width: 400px;
        }

        .modal-header {
            background: var(--bg-primary-dark);
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}


.modal-xs {
    max-width: 770px;
    min-height: 400px;
}



.modal-md {
    max-width: 900px !important;
    min-width: 500px;
    min-height: 400px;
}

.modal-lg {
    max-width: 1200px;
    min-width: 500px;
    min-height: 400px;
}

.modal-close {
    margin-left: auto;
}

.confirm-modal-container {
    z-index: 10000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    left: 50px;

    .modal-box {
        max-width: 30rem !important;

        .card .card-body {
            padding: 3rem;
            font-size: 1.25rem;
            text-align: center;
        }
    }
}

.card-sm {
    .card-body {
        padding: 0.3rem !important;
    }
}

.modal-body {
    display: flex;
    justify-content: flex-start;
    background: white;
    padding: 2rem;
    input, textarea, select {
        min-width: 360px;
    }
}

span {
    strong {
        letter-spacing: 1.5px;
    }
}

.btn.btn-muted {
    background-color: #ddd;
}

.btn.btn-transparent {
    background-color: transparent !important;
    color: var(--bg-primary) !important;
    box-shadow: none !important;
    box-shadow: 0px 2px 2px var(--shadow-color);
}

.btn.btn-transparent.btn-disabled {
    color: gray !important;
    &:hover {
        background: none !important;
        box-shadow: none;
    }
}

.btn.btn-transparent.btn-danger {
    color: var(--bg-danger) !important;
    border: none;
    &:hover {
        color: #fff !important;
        background-color: var(--bg-danger) !important;
        border: none;
    }
}

.btn.btn-transparent.btn-default {
    color: var(--bg-default) !important;
    border: none;
    &:hover {
        color: #fff !important;
        background-color: var(--bg-default) !important;
        border: none;
    }
}

.btn-transparent {
    &:hover {
        background-color: var(--bg-primary) !important;
        color: white !important;
    }
}

.product-details {
    background: #EDEDED;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sale-purchase {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container-full {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.input-label {
    color: #444;
    font-size: 0.9rem;
    font-weight: bold;
}

.form-label {
    color: #fff;
    font-size: 0.8rem !important;
}

.parent-page {
    z-index: 10;
}

i.login-logo {
    font-size: 9rem;
    color: var(--bg-primary);
    position: relative;
    top: -15px;
}

.logo-container {
    height: 230px !important;
    padding-right: 2rem;
}

.login-banner {
    position: relative;
    font-size: 1.6rem;
    color: var(--bg-primary);
    text-align: center;
    top: -6vh;
}

.login-input-section {
    color: var(--bg-primary);
    width: 250px;
}

.login-banner-section {
    border-right: 2px solid var(--bg-primary) !important;
}

.login-card {
    position: relative;
    bottom: 50px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}

.img-invert {
    filter: invert(100%);
}

.menu-img {
    margin: 0.25rem 0;
}

.main-container {
    display: flex;
}

.paginate_button.page-item {
    &:focus {
        outline: none !important;
    }
}

.action-col {
    max-width: 12rem;
    .btn:first-child {
        margin-left: 1rem;
    }
    .btn:last-child {
        margin-right: 1rem;
    }
}



.cell-no-wrap {
    white-space: nowrap;
}

.cell-wrap {
    word-wrap: break-word;
    // &.sorting {
    //     &::before {
    //         top: 1.5rem !important;
    //     }
    //     &::after {
    //         bottom: 1.5rem !important;
    //     }
    // }
}

.cell-center {
    text-align: center;
}

.item-label {
    display: inline-block;
    font-size: 1rem;
    border-left: 3px solid var(--bg-primary);
    padding-left: 0.5em;
    font-weight: bold;
    background: rgba(35, 150, 127, 0.05);
    width: 100%;
    padding: 0.1em 0 0.1em 0.5em;
}

.quick-alert {
    position: fixed;
    z-index: 100000;
    min-width: 10rem;
    top: 20px;
    margin: 0 auto;
    display: block;
    left: 45vw;
    text-align: center;
    padding: 0.3em 1em;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.quick-alert-success {
    color: white;
    background: var(--bg-success);
}

.quick-alert-error {
    color: white;
    background: var(--bg-danger);
}

.fade-in {
    animation-duration: 1s;
    animation-name: fadeIn;
}

.bounce-out-up {
    animation-duration: 0.5s;
    animation-name: bounceOutUp;
}

.form-control[readonly] {
    background: white !important;
    cursor: pointer;
}

.unauthorized-body {
    color: black;
    padding: 3em;
    max-width: 30rem;
    text-align: center;
}

.error-img {
    width: 50px;
    height: 50px;
    color: red;
}

.unauthorized-icon {
    line-height: 0 !important;
    font-size: 3rem;
    color: var(--bg-warning);
}

.credits {
    padding: 1rem;
    color: white;
    opacity: 0.7;
    background: var(--bg-dark);
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 0.8rem;
    a {
        color: white !important;
        font-weight: bold;
        text-decoration: underline;
    }
}

.icon-critical-stock {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    color: var(--bg-danger);
    &:hover {
        .tooltip-text {
            display: inline;
            color: #ffffff;
            box-shadow: 0px 2px 2px var(--shadow-color);
            background: var(--bg-danger);
            border-radius: 0.2rem;
        }
    }
}

.tooltip-text {
    z-index: 10;
    display: none;
    padding: 0.5rem;
    bottom: 30px;
    font-size: 0.8rem;
    position: absolute;
    white-space: nowrap;
    left: -40px;
}

@media (max-width: 1024px) {
    :root {
        font-size: 12px;
    }

    .logo-container {
        height: 180px !important;
        padding-right: 2rem;
    }
}

@media (max-width: 576px) {
    .form-control {
        width: 200px;
    }
    .login-input-section {
        width: 150px;
    }
    i.login-logo {
        font-size: 8rem;
        color: var(--bg-primary);
    }
    .login-banner {
        position: absolute;
        font-size: 1.6rem;
        color: var(--primary);
        text-align: center;
        left: 45px;
        top: 200px;
    }
}

@media print {
    @page {
        size: A4;
        margin: 15mm 7.5mm;  
    }

    body {
        height: 99%;
        .receipt-body {
            font-size: 1.5rem;
            color: #555;
            background: #fff;
            padding: 2rem 3rem;
            display: flex;
            flex-direction: column;
            position: relative;
            .receipt-section {
                display: flex;
                flex-direction: column;
                color: #fff;
                margin-bottom: 1rem;
                font-size: 1.5rem;
                align-items: center;
                border-bottom: solid 1px #aaa;
                background: #555;
                -webkit-print-color-adjust: exact; 
                &:not(:first-child) {
                    margin-top: 1rem;
                }
            }
            .sales-details {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 1.75rem;
                .label {
                    margin-right: 1rem;
                }
            }
            .product-container {
                height: 100%;
                .product-list {
                    page-break-inside: auto;
                }
            }
            .product-list,
            .total,
            .shipping-fee,
            .header {
                display: grid;
                grid-template-columns: 3fr 1fr 1fr 1fr;
                grid-auto-rows: 4rem;
                padding: 0 1rem;
                .label {
                    margin-right: 1rem;
                }
                .price {
                    text-align: right;
                }
                .center {
                    text-align: center;
                }
            }
            .shipping-fee, .total {
                page-break-before: always;
                position: relative !important;
                bottom: 0;
            }
            .total {
                padding-top: 0.5rem;
                border-top: 3px solid #555;
            }
        }
        

        .receipt-footer {
            display: none;
        }
    }
}